Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

Update PIV authentication dialog UI
  lib/l10n/app_en.arb
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: arb-reformatter, update-android-strings

Update rename fingerprint dialog UI
  lib/fido/views/rename_fingerprint_dialog.dart
Due: none

Add basic dialog
  lib/fido/views/actions.dart
  lib/fido/views/delete_credential_dialog.dart
  lib/fido/views/delete_fingerprint_dialog.dart
  lib/fido/views/enterprise_attestation_dialog.dart
  lib/fido/views/key_actions.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/oath/views/actions.dart
  lib/oath/views/delete_account_dialog.dart
  lib/otp/views/actions.dart
  lib/otp/views/delete_slot_dialog.dart
  lib/otp/views/key_actions.dart
  lib/otp/views/overwrite_confirm_dialog.dart
  lib/otp/views/swap_slots_dialog.dart
  lib/piv/views/actions.dart
  lib/piv/views/delete_certificate_dialog.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/overwrite_confirm_dialog.dart
  lib/widgets/basic_dialog.dart
  lib/widgets/info_popup_button.dart
  lib/widgets/responsive_dialog.dart
Due: arb-reformatter, update-android-strings

Update OTP dialogs UI
  lib/otp/views/access_code_dialog.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
Due: none

Update OATH password dialog UI
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/oath/views/manage_password_dialog.dart
Due: arb-reformatter, update-android-strings

Update FIDO add fingerprint dialog UI
  lib/fido/views/add_fingerprint_dialog.dart
Due: none

Update manage label dialog UI
  lib/home/views/manage_label_dialog.dart
Due: none

Update toggle applications dialog UI
  lib/management/views/management_screen.dart
Due: none

Use `icon` instead of `prefixIcon`
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/oath/views/rename_account_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

Change info text color and padding
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/widgets/info_popup_button.dart
Due: none

Add radio buttons for PIV generate key output format
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/models.dart
  lib/piv/views/generate_key_dialog.dart
Due: arb-reformatter, update-android-strings

Add info popup in add account dialog
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/oath/views/add_account_page.dart
Due: arb-reformatter, update-android-strings

Add `surfaceContainerHigh`
  lib/theme.dart
Due: none

Add info text for protect with PIN
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/views/manage_key_dialog.dart
Due: arb-reformatter, update-android-strings

Bump yubikit-android to 2.8.0
  android/build.gradle
Due: none

bump Kotlin version to 2.1.10
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/settings.gradle
Due: none

enable feature
  android/app/src/main/AndroidManifest.xml
Due: none

Fix `l10n` strings
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/otp/views/configure_static_dialog.dart
Due: arb-reformatter, update-android-strings

Change `p_expiration_date_desc`
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

bump python
  .github/workflows/env
Due: none

Allow changing app language
  lib/app/app.dart
  lib/app/models.dart
  lib/app/state.dart
  lib/app/views/keys.dart
  lib/app/views/settings_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/views/cert_info_view.dart
Due: arb-reformatter, update-android-strings

Move custom icons to settings
  lib/app/icon_provider/account_icon.dart
  lib/app/icon_provider/icon_cache.dart
  lib/app/icon_provider/icon_file_loader.dart
  lib/app/icon_provider/icon_pack.dart
  lib/app/icon_provider/icon_pack_dialog.dart
  lib/app/icon_provider/icon_pack_manager.dart
  lib/app/views/main_page.dart
  lib/app/views/settings_page.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/account_view.dart
  lib/oath/views/key_actions.dart
Due: none

Remove system default language option
  lib/app/app.dart
  lib/app/state.dart
  lib/app/views/settings_page.dart
  lib/piv/views/cert_info_view.dart
Due: none

Add info popup to custom icons dialog
  lib/app/icon_provider/icon_pack_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/widgets/responsive_dialog.dart
Due: arb-reformatter, update-android-strings

Add crowdin text in choose language dialog
  lib/app/state.dart
  lib/app/views/settings_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Change error and info icon
  lib/widgets/app_input_decoration.dart
  lib/widgets/info_popup_button.dart
Due: none

Modularize IconPack icon
  lib/app/icon_provider/icon_pack.dart
  lib/app/icon_provider/icon_pack_icon.dart
  lib/app/icon_provider/icon_pack_manager.dart
  lib/fido/views/passkeys_icon.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/account_icon.dart
  lib/oath/views/account_view.dart
Due: none

Add TODOs for shortURLs
  lib/app/icon_provider/icon_pack_dialog.dart
  lib/app/views/settings_page.dart
Due: none

Remove unnecessary `_DialogDescription`
  lib/app/icon_provider/icon_pack_dialog.dart
Due: none

Remove unused `AppLocale`
  lib/app/models.dart
Due: none

Ensure all l10n strings are translated on Android
  android/app/src/main/kotlin/com/yubico/authenticator/AppPreferences.kt
  android/app/src/main/kotlin/com/yubico/authenticator/NdefActivity.kt
  lib/android/overlay/nfc/nfc_overlay.dart
Due: none

Change info icon for non-dialog mode
  lib/widgets/info_popup_button.dart
Due: none

Avoid duplicate safe areas in icon pack dialog
  lib/app/views/settings_page.dart
Due: none

Change info text and link in custom icons dialog
  lib/app/icon_provider/icon_pack_dialog.dart
  lib/app/l10n_utils.dart
  lib/app/views/settings_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Read instead of wathing `l10nProvider` in NFC widget
  lib/android/overlay/nfc/nfc_overlay.dart
Due: none

Add missing license headers
  lib/app/l10n_utils.dart
  lib/fido/views/passkeys_icon.dart
  lib/oath/views/account_icon.dart
Due: none

Verify that public key from cert matches private key
  helper/helper/piv.py
  lib/desktop/piv/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/models.dart
  lib/piv/models.freezed.dart
  lib/piv/models.g.dart
  lib/piv/state.dart
  lib/piv/views/import_file_dialog.dart
Due: arb-reformatter, update-android-strings, mypy

Show public key mismatch when certificate is loaded
  helper/helper/piv.py
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/models.dart
  lib/piv/models.freezed.dart
  lib/piv/models.g.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/piv_screen.dart
  lib/piv/views/slot_dialog.dart
Due: arb-reformatter, update-android-strings, mypy

Add toggle devices in settings
  lib/app/state.dart
  lib/app/views/device_picker.dart
  lib/app/views/keys.dart
  lib/app/views/main_page.dart
  lib/app/views/settings_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Ensure NFC devices are deselected when hidden
  lib/app/views/settings_page.dart
  lib/desktop/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings
