Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, spotless-apply, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: local
  hooks:
    - id: flutter-l10n-gen
      name: generate-l10n
      language: system
      entry: flutter gen-l10n
      pass_filenames: false
      require_serial: true
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      exclude: lib/generated
      require_serial: true
    - id: flutter-analyze
      exclude: lib/generated
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: update_android_strings.py
      require_serial: true
    - id: spotless-apply
      name: spotless-apply
      files: \.kt$
      language: script
      entry: spotless_apply.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.0
  hooks:
    # Run the linter, organize imports
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter
    - id: ruff-format

build: strip unused BouncyCastle PQC blobs
  android/app/build.gradle
Due: none

build: cache Gradle and Flutter deps in CI
  .github/workflows/android.yml
  android/gradle.properties
Due: none

build: cache Gradle deps in CodeQL CI
  .github/workflows/codeql-analysis.yml
Due: none

build: bump pinned GitHub Actions
  .github/workflows/android.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

build: build all release APKs in one pass
  android/app/build.gradle
  android/scripts/build.sh
Due: none

Windows fixes
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/util.rs
  helper/shell.py
  lib/desktop/devices.dart
Due: mypy

Update PIV helper for new PublicKey/PrivateKey API
  helper/crates/helper/src/piv.rs
Due: mypy

Reformat
  lib/app/views/device_error_screen.dart
  lib/app/views/reset_dialog.dart
  lib/desktop/devices.dart
Due: none

licenses: Use cargo-about to generate helper license file
  assets/licenses/.gitignore
  assets/licenses/raw/.gitignore
  assets/licenses/raw/apache-2.0.txt
  assets/licenses/raw/python.txt
  build-helper.bat
  build-helper.sh
  helper/about.hbs
  helper/about.toml
  helper/crates/helper/Cargo.toml
  lib/desktop/init.dart
Due: mypy

helper: Remove TCP, target_prefix, deduplicate constructors
  helper/crates/helper/src/connection.rs
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/main.rs
  helper/crates/helper/src/rpc.rs
Due: mypy

devices: show phantom entry for blocked FIDO-only devices
  lib/app/views/device_error_screen.dart
  lib/desktop/devices.dart
Due: none

helper: Remove update_children call, get() now refreshes devices
  helper/crates/helper/src/devices.rs
Due: mypy

helper: don't re-enumerate devices on every poll when PIDs are unaccounted
  helper/crates/helper/src/devices.rs
Due: mypy

shell.py: Add Unix domain socket transport support
  helper/shell.py
Due: mypy

helper: Use info().serial instead of serial()
  helper/crates/helper/src/management.rs
Due: mypy

helper: Update for CliError removal from ykman
  helper/crates/helper/src/devices.rs
Due: mypy

helper: Use DeviceSource for unified device enumeration
  helper/crates/helper/src/devices.rs
  helper/shell.py
Due: mypy

Update helper for yubikit SecretValue newtype API changes
  helper/crates/helper/src/fido.rs
  helper/crates/helper/src/management.rs
  helper/crates/helper/src/oath.rs
  helper/crates/helper/src/piv.rs
  helper/crates/helper/src/yubiotp.rs
Due: mypy

Include PID in device children data to fix phantom device entries
  helper/crates/helper/src/devices.rs
Due: mypy

Invalidate DeviceInfo on configuration change
  helper/crates/helper/src/devices.rs
Due: mypy

Use PivPrivateKey::from_pkcs8() for key import
  helper/crates/helper/src/piv.rs
Due: mypy

helper/ui: single shared pipe + FIDO blocked error screen
  helper/crates/helper/src/devices.rs
  lib/app/views/app_failure_page.dart
  lib/desktop/devices.dart
Due: mypy

Update imports to use canonical yubikit module paths
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/management.rs
Due: mypy

Update helper for yubikit keys refactoring
  helper/crates/helper/src/piv.rs
Due: mypy

Update for latest yubikit
  helper/Cargo.toml
  helper/crates/helper/Cargo.toml
  helper/crates/helper/src/connection.rs
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/fido.rs
  helper/crates/helper/src/management.rs
  helper/crates/helper/src/oath.rs
  helper/crates/helper/src/piv.rs
  helper/crates/helper/src/root.rs
  helper/crates/helper/src/rpc.rs
  helper/crates/helper/src/yubiotp.rs
Due: mypy

Add pri config file
  .github/workflows/windows.yml
Due: none

helper: Use DeviceMonitor for live device tracking
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/main.rs
  helper/crates/helper/src/management.rs
  helper/crates/helper/src/monitor.rs
Due: mypy

helper: Don't start local DeviceMonitor in service mode
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/management.rs
Due: mypy

build-helper: Add --debug flag to build in debug mode
  build-helper.bat
  build-helper.sh
Due: none

Add tooltip for reader button
  lib/app/views/device_picker.dart
Due: none

Fix focus when changing devices
  lib/app/views/device_picker.dart
Due: none

Bump Python
  .github/workflows/env
Due: none

Bump version to 7.4.2
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
Due: mypy

Update NEWS
  NEWS
Due: none

App stores require unique version, use rc number for this
  .github/workflows/windows.yml
Due: none

Update NEWS with date of release
  NEWS
Due: none

helper: Pass app version to diagnostics
  helper/crates/helper/src/root.rs
Due: mypy

otp: Support keyboard layout families and variants
  helper/crates/helper/src/yubiotp.rs
  lib/desktop/otp/state.dart
  lib/l10n/app_en.arb
  lib/otp/models.dart
  lib/otp/state.dart
  lib/otp/views/configure_static_dialog.dart
Due: arb-reformatter, update-android-strings, mypy
