Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: python3 --version && python3.12 --version && update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

Swap order of RP ID and userName
  lib/fido/views/passkeys_screen.dart
Due: none

Only show displayName when present
  helper/helper/fido.py
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/models.g.dart
  lib/fido/views/credential_info_view.dart
Due: mypy

Ensure `ListTile` take up full height
  lib/app/views/app_list_item.dart
Due: none

Use $FLUTTER_ROOT in workflow
  .github/workflows/linux.yml
Due: none

Remove `sliver_tools`
  lib/app/views/app_page.dart
  pubspec.lock
  pubspec.yaml
Due: none

uncustomizable devices will use last used color
  lib/app/state.dart
Due: none

removed comments
  lib/app/state.dart
Due: none

read device info on connect
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: none

Add lock-code field in `ManagementScreen`
  lib/desktop/management/state.dart
  lib/desktop/piv/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/management/views/management_screen.dart
Due: arb-reformatter, update-android-strings

Pop dialog on completion
  lib/management/views/management_screen.dart
Due: none

Decrease vertical and horizontal space between chips
  lib/management/views/management_screen.dart
Due: none

Decrease contentPadding and vertical space
  lib/management/views/management_screen.dart
Due: none

Update management localization strings
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

Display FIDO PIN Block Status and PIN retries
  helper/helper/fido.py
  lib/desktop/fido/state.dart
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/models.g.dart
  lib/fido/views/key_actions.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings, mypy

[Android] return value of pinRetries
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoViewModel.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/Session.kt
Due: none

Expose remainingDiscoverableCredentials
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/Session.kt
Due: none

Ensure initial currentSection is `Section.Home` for Android
  lib/android/init.dart
  lib/android/state.dart
Due: none

make displayName nullable
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/FidoCredential.kt
Due: none

fix UI progress when loading passkeys
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoViewModel.kt
Due: none

bump flutter to 3.19.5
  .github/workflows/env
Due: none

flutter upgrade
  pubspec.lock
Due: none

poetry update
  helper/poetry.lock
Due: mypy

[Android] remove ChromeOS exclusion
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  lib/android/init.dart
Due: none

Fix padding in Device Picker
  lib/app/views/device_picker.dart
Due: none

Vertically center the "edit label" button
  lib/home/views/home_screen.dart
Due: none

Set current section to Home on Factory Reset cancel
  lib/app/views/reset_dialog.dart
Due: none

Show correct cancel text in `ResponsiveDialog`
  lib/widgets/responsive_dialog.dart
Due: none

Show retired slots when they have certificate or key
  lib/piv/views/piv_screen.dart
Due: none

OTP: Show format error before length error
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
Due: none

Fix QR scan success icon
  lib/android/qr_scanner/qr_scanner_overlay_view.dart
Due: none

Remove unused provider
  lib/piv/state.dart
Due: none

Fix icon for "close drawer" button
  lib/app/views/app_page.dart
Due: none

Fix tooltips
  lib/app/views/app_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Add localized strings
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
Due: arb-reformatter, update-android-strings

avoid unnecessary Toasts
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  lib/android/oath/state.dart
Due: none

support Cancel during OATH unlock
  lib/android/oath/state.dart
  lib/oath/views/unlock_form.dart
Due: none

Escape Android strings
  android/app/src/main/res/values-fr/strings.xml
  update_android_strings.py
Due: none

Fix ending character
  lib/l10n/app_ja.arb
Due: arb-reformatter, update-android-strings

Update link text
  integration_test/keyless_test.dart
  lib/about_page.dart
  lib/app/app_url_launcher.dart
  lib/app/state.dart
  lib/app/views/keys.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

only cancel reset in onStop
  android/app/src/main/kotlin/com/yubico/authenticator/AppContextManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
Due: none

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
