Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

Add PIN CTA for keys with alwaysUv enabled.
  lib/fido/views/passkeys_screen.dart
Due: none

PIV: More slot information and ability to generate pubkey only
  helper/helper/piv.py
  lib/desktop/piv/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/keys.dart
  lib/piv/models.dart
  lib/piv/models.freezed.dart
  lib/piv/models.g.dart
  lib/piv/views/actions.dart
  lib/piv/views/cert_info_view.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/overwrite_confirm_dialog.dart
  lib/piv/views/piv_screen.dart
  lib/piv/views/slot_dialog.dart
Due: arb-reformatter, update-android-strings, mypy

Adapt height
  lib/piv/views/import_file_dialog.dart
Due: none

Handle import of unsupported files
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/views/import_file_dialog.dart
Due: arb-reformatter, update-android-strings

Factory reset PIV solved.
  integration_test/utils/piv_test_util.dart
Due: none

update OTP integration tests
  dart_test.yaml
  integration_test/management_test.dart
  integration_test/otp_test.dart
  integration_test/piv_test.dart
  integration_test/utils/otp_test_util.dart
  lib/otp/keys.dart
  lib/otp/views/otp_screen.dart
  lib/otp/views/swap_slots_dialog.dart
Due: none

Add export of public key when no certificate is present
  helper/helper/piv.py
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/models.dart
  lib/piv/models.freezed.dart
  lib/piv/models.g.dart
  lib/piv/views/actions.dart
Due: arb-reformatter, update-android-strings, mypy

Update description
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

Initiating pin tests for passkey view/app.
  integration_test/passkey_test.dart
  lib/fido/keys.dart
  lib/fido/views/pin_dialog.dart
Due: none

Cleaning up some comments and imports.
  lib/otp/keys.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
Due: none

Hide labels on segment buttons when they don't fit
  lib/app/views/reset_dialog.dart
Due: none

Commenting TODOs so it is clearer what is next step compared to functionality comments.
  integration_test/otp_test.dart
Due: none

Making the tests a tidbit leaner.
  integration_test/otp_test.dart
  integration_test/utils/otp_test_util.dart
  integration_test/utils/test_util.dart
Due: none

Bump Python and Python deps
  .github/workflows/env
  helper/poetry.lock
Due: mypy

Change FIDO `ActionListItem` subtitles and logic for actions notifier.
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/key_actions.dart
  lib/fido/views/passkeys_screen.dart
Due: none

Add warning when using default PIN and PUK in PIV.
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/views/key_actions.dart
  lib/piv/views/piv_screen.dart
Due: arb-reformatter, update-android-strings

Show default PIN/PUK in `ManagePinPukDialog`.
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/models.dart
  lib/piv/views/key_actions.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: arb-reformatter, update-android-strings

Should work, but someone broke the reset!?
  integration_test/passkey_test.dart
  integration_test/utils/passkey_test_util.dart
Due: none

adds missing keys to ButtonSegments
  lib/app/views/reset_dialog.dart
Due: none

only show Management option on supported devices
  lib/app/views/device_picker.dart
Due: none

Everything almost works, to fix: -pin entry when locking key is damn hard!
  integration_test/passkey_test.dart
  integration_test/utils/passkey_test_util.dart
  lib/fido/keys.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
Due: none

more fixing of the passkey test
  integration_test/passkey_test.dart
  lib/fido/views/pin_entry_form.dart
Due: none

OBS!! passkey_test2.dart has some new test investigations, don't push this to main.
  integration_test/passkey_test2.dart
Due: none

fix lint warning
  lib/fido/views/pin_dialog.dart
Due: none

update test tags
  dart_test.yaml
  integration_test/passkey_test.dart
Due: none

reformat
  integration_test/passkey_test.dart
  integration_test/utils/passkey_test_util.dart
  lib/fido/keys.dart
Due: none

Bump version number.
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
Due: mypy

Don't remove spaces from static password
  lib/otp/views/configure_static_dialog.dart
Due: none

PIV: Prevent import of unsupported keys
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/utils.dart
Due: arb-reformatter, update-android-strings

FIDO2 reset: make sure you cannot change to another application while resetting FIDO2
  lib/app/views/reset_dialog.dart
Due: none

Use _currentStep instead
  lib/app/views/reset_dialog.dart
Due: none

add missing enum values
  lib/piv/models.dart
  lib/piv/models.g.dart
Due: none

Update NEWS
  NEWS
Due: none

Pin Python on Linux for now
  .github/workflows/linux.yml
Due: none

Move from popup menu to `MenuAnchor`.
  lib/app/models.dart
  lib/app/models.freezed.dart
  lib/app/views/action_popup_menu.dart
  lib/app/views/app_list_item.dart
  lib/oath/views/account_helper.dart
Due: none

Fix FIDO reset over NFC
  NEWS
  helper/helper/fido.py
  lib/app/views/reset_dialog.dart
  lib/version.dart
  pubspec.yaml
Due: mypy

Windows: Require elevation in reset dialog
  helper/helper/fido.py
  lib/app/views/elevate_fido_buttons.dart
  lib/app/views/reset_dialog.dart
Due: mypy

Create `AppContextMenu`.
  lib/app/views/app_context_menu.dart
  lib/app/views/app_list_item.dart
  lib/app/views/device_picker.dart
  lib/oath/views/account_view.dart
Due: none

fixing piv settings tests - refactor most of the utils - refactor the settings tests - the tests now take heed of ui factory settings ui changes
  integration_test/piv_test.dart
  integration_test/utils/piv_test_util.dart
Due: none

lintin
  integration_test/piv_test.dart
Due: none
