Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, spotless-apply, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: local
  hooks:
    - id: flutter-l10n-gen
      name: generate-l10n
      language: system
      entry: flutter gen-l10n
      pass_filenames: false
      require_serial: true
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      exclude: lib/generated
      require_serial: true
    - id: flutter-analyze
      exclude: lib/generated
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: update_android_strings.py
      require_serial: true
    - id: spotless-apply
      name: spotless-apply
      files: \.kt$
      language: script
      entry: spotless_apply.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.0
  hooks:
    # Run the linter, organize imports
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter
    - id: ruff-format

Check if `AppData` is different from `None`
  helper/helper/oath.py
Due: mypy

Add semantics to menu buttons/toggles, add navigation to hide/display toggles
  lib/app/views/app_page.dart
  lib/fido/views/pin_confirmation_dialog.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/home/views/home_screen.dart
  lib/management/views/management_screen.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/access_code_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
  lib/piv/views/pin_dialog.dart
  lib/widgets/info_popup_button.dart
  lib/widgets/visibility_toggle_button.dart
Due: none

Remove autofocus pin to improve VO navigation
  lib/fido/views/pin_entry_form.dart
Due: none

pre-commit
  lib/home/views/home_screen.dart
  lib/widgets/visibility_toggle_button.dart
Due: none

working pre-commit
  lib/piv/views/pin_dialog.dart
Due: none

Add tooltip for IconButtons
  lib/android/overlay/nfc/views/nfc_overlay_widget.dart
  lib/fido/views/passkeys_screen.dart
  lib/l10n/app_en.arb
  lib/oath/views/oath_screen.dart
Due: arb-reformatter, update-android-strings

Add localization places
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Review changes
  lib/app/views/app_page.dart
  lib/widgets/visibility_toggle_button.dart
Due: none

Review changes
  lib/home/views/home_screen.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

a11y: announce expanded/collapsed state for color picker popup
  lib/home/views/home_screen.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Make color buttons work with VO
  lib/home/views/home_screen.dart
Due: none

pre-commit
  lib/home/views/home_screen.dart
Due: none

Rebase
  lib/home/views/home_screen.dart
Due: none

a11y: add dialog role and accessible name to screen readers
  lib/app/message.dart
  lib/widgets/basic_dialog.dart
  lib/widgets/responsive_dialog.dart
Due: none

add isdefault to default color
  lib/home/views/home_screen.dart
Due: none

Bring back autofocus
  lib/fido/views/pin_entry_form.dart
Due: none

Bring back autofocus
  lib/oath/views/add_account_page.dart
Due: none

Add text alternatives to product images, account icons, and code status icons
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  lib/oath/views/account_helper.dart
  lib/oath/views/account_icon.dart
  lib/oath/views/account_view.dart
  lib/widgets/product_image.dart
Due: arb-reformatter, update-android-strings

Read out expanded/collapsed
  lib/home/views/home_screen.dart
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

pre-commit
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Add isSelected to widget
  lib/widgets/visibility_toggle_button.dart
Due: none

Make screen reader read colors
  lib/home/views/home_screen.dart
Due: none

fix: set explicitChildNodes to true
  lib/app/message.dart
Due: none

format code
  lib/app/message.dart
Due: none

fix: accessibility improvements
  lib/app/views/user_interaction.dart
  lib/home/views/home_screen.dart
  lib/widgets/toast.dart
Due: none

fix: Handle exceptions in startUsbDiscovery
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: spotless-apply

fix(android): Move blocking I/O off main thread
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: spotless-apply

Announce character counter updates for screen readers
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  lib/widgets/utf8_utils.dart
Due: arb-reformatter, update-android-strings

Change how set label counts characters
  lib/home/views/manage_label_dialog.dart
Due: none

Change how PIV counts characters
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/manage_key_dialog.dart
Due: none

Change how OTP counts characters
  lib/otp/views/access_code_dialog.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
Due: none

fix(android): prevent crash during TOTP refresh
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: spotless-apply

fix(android): activate context manager on setup
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: spotless-apply

fix(android): ensure observe runs on main thread
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: spotless-apply

fix(android): replace suspendCoroutine
  android/app/src/main/kotlin/com/yubico/authenticator/ChannelHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/ConnectionHelper.kt
Due: spotless-apply

fix(android): defer stopUsbDiscovery on detach
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: spotless-apply

feat(android): migrate QR scanner to CameraX 1.6.0
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QrScanner.kt
Due: spotless-apply

fix(android): harden QR scanner plugin
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerZxingPlugin.kt
Due: spotless-apply

fix(android): avoid unsafe casts in bindUseCases
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
Due: spotless-apply
