Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: python3 --version && python3.12 --version && update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

reset FIDO app over USB and NFC
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoPinStore.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoViewModel.kt
  lib/android/fido/state.dart
Due: none

update OperationContext enum
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainViewModel.kt
  lib/android/init.dart
Due: none

Bump Python deps
  helper/poetry.lock
Due: mypy

Bump Flutter version
  .github/workflows/env
Due: none

Bump Flutter/dart deps
  pubspec.lock
Due: none

Update Polish translation
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Use header instead of message
  lib/app/views/main_page.dart
Due: none

Bump window_manager
  pubspec.lock
  pubspec.yaml
Due: none

switch YubiKey applets
  android/app/src/main/kotlin/com/yubico/authenticator/AppContext.kt
  android/app/src/main/kotlin/com/yubico/authenticator/AppContextManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoViewModel.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/Session.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/data/Session.kt
  android/app/src/test/java/com/yubico/authenticator/oath/ModelTest.kt
  android/app/src/test/java/com/yubico/authenticator/oath/SerializationTest.kt
  lib/android/init.dart
  lib/android/state.dart
  lib/app/state.dart
  lib/desktop/models.freezed.dart
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/models.g.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/models.dart
  lib/oath/models.freezed.dart
  lib/oath/models.g.dart
  lib/oath/views/oath_screen.dart
  lib/piv/views/pin_dialog.dart
Due: none

Setup scribe
  .github/scribe-sign.yaml
  .github/workflows/macos.yml
Due: none

Add project-id
  .github/workflows/macos.yml
Due: none

Update macos.yml
  .github/workflows/macos.yml
Due: none

Changing path of scribe-config.yml
  .github/workflows/macos.yml
Due: none

Avoid using deprecated functions.
  helper/helper/piv.py
Due: mypy

Respect allowCancel in dialog mode
  lib/widgets/responsive_dialog.dart
Due: none

Improve UX while generating keys
  helper/helper/management.py
  lib/android/management/state.dart
  lib/app/views/device_picker.dart
  lib/app/views/reset_dialog.dart
  lib/desktop/management/state.dart
  lib/desktop/models.freezed.dart
  lib/fido/models.freezed.dart
  lib/management/state.dart
  lib/oath/models.dart
  lib/oath/models.freezed.dart
  lib/oath/views/add_multi_account_page.dart
  lib/oath/views/key_actions.dart
  lib/piv/models.dart
  lib/piv/models.g.dart
  lib/piv/views/generate_key_dialog.dart
Due: mypy

2s
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none

Base reset capabilities on platform and feature flags
  lib/app/views/device_picker.dart
  lib/app/views/reset_dialog.dart
Due: none

Refactor Applications
  lib/android/init.dart
  lib/app/features.dart
  lib/app/models.dart
  lib/app/state.dart
  lib/app/views/app_failure_page.dart
  lib/app/views/device_error_screen.dart
  lib/app/views/main_page.dart
  lib/app/views/navigation.dart
  lib/app/views/reset_dialog.dart
  lib/core/state.dart
  lib/desktop/init.dart
Due: none

unify android add oath account flow
  lib/android/oath/state.dart
  lib/app/views/main_page.dart
  lib/oath/views/key_actions.dart
  lib/oath/views/oath_screen.dart
Due: none

abstract add oath account action with riverpod
  lib/android/init.dart
  lib/android/oath/state.dart
  lib/app/views/main_page.dart
  lib/desktop/init.dart
  lib/desktop/oath/state.dart
  lib/oath/state.dart
  lib/oath/views/key_actions.dart
  lib/oath/views/oath_screen.dart
Due: none

Fix updating a Provider in build.
  lib/android/init.dart
  lib/desktop/init.dart
Due: none

bump flutter packages
  pubspec.lock
  pubspec.yaml
Due: none

Fix Intent matching type parameter
  lib/oath/views/account_dialog.dart
Due: none

bump android dependencies
  android/app/build.gradle
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
Due: none

bump actions/cache to v4
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

bump python packages
  helper/poetry.lock
  helper/pyproject.toml
Due: mypy

run dart build_runner
  lib/app/key_customization/models.freezed.dart
  lib/app/models.freezed.dart
  lib/core/models.freezed.dart
  lib/desktop/models.freezed.dart
  lib/fido/models.freezed.dart
  lib/management/models.freezed.dart
  lib/oath/models.freezed.dart
  lib/otp/models.freezed.dart
  lib/piv/models.freezed.dart
Due: none

switch to function
  lib/android/init.dart
  lib/android/oath/state.dart
  lib/app/views/main_page.dart
  lib/desktop/init.dart
  lib/desktop/oath/state.dart
  lib/oath/state.dart
  lib/oath/utils.dart
  lib/oath/views/key_actions.dart
  lib/oath/views/oath_screen.dart
Due: none

update code structure
  lib/app/views/main_page.dart
  lib/oath/utils.dart
  lib/oath/views/key_actions.dart
  lib/oath/views/oath_screen.dart
  lib/oath/views/utils.dart
Due: none

single quotation fix
  integration_test/otp_test.dart
Due: none

Add Windows Settings button for FIDO
  lib/app/views/app_failure_page.dart
  lib/app/views/device_error_screen.dart
  lib/app/views/elevate_fido_buttons.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Add footnote to AppPage
  lib/app/views/app_failure_page.dart
  lib/app/views/app_page.dart
  lib/app/views/device_error_screen.dart
  lib/app/views/message_page.dart
  lib/fido/views/passkeys_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Only show MS Store note when installed through store
  lib/app/views/app_failure_page.dart
  lib/app/views/device_error_screen.dart
  lib/core/state.dart
Due: none

Fix string type
  lib/app/views/app_failure_page.dart
  lib/app/views/device_error_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Capitalize s in Windows Store
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

fix Reset OATH test when 1 key is connected
  integration_test/utils/oath_test_util.dart
  lib/app/views/device_picker.dart
  lib/app/views/keys.dart
  lib/app/views/reset_dialog.dart
Due: none

Clear accounts search on ESC.
  lib/oath/views/oath_screen.dart
Due: none

support multiple connected and approved keys
  integration_test/utils/oath_test_util.dart
  integration_test/utils/test_util.dart
Due: none

Show fingerprint CTA in Passkeys unlocked view.
  lib/fido/views/passkeys_screen.dart
Due: none

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
