Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: python3 --version && python3.12 --version && update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

optimize lifecycle of Android Credential List
  lib/android/oath/state.dart
Due: none

Ignore NFC taps in app if USB YubiKey is connected
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: none

fix custom key color selection rendering
  lib/home/views/home_screen.dart
Due: none

sort fingerprints
  lib/android/fido/state.dart
Due: none

bump version to 7.0.1
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

update NEWS
  NEWS
Due: none

revert forgotten logging changes
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: none

bump version to 7.0.2-dev.0
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

POC
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/com/yubico/authenticator/NdefActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/widget/AppWidget.kt
  android/app/src/main/kotlin/com/yubico/authenticator/widget/AppWidgetConfigureActivity.kt
  android/app/src/main/res/drawable-v21/app_widget_background.xml
  android/app/src/main/res/drawable-v21/app_widget_inner_view_background.xml
  android/app/src/main/res/drawable/baseline_schedule_24.xml
  android/app/src/main/res/drawable/timelapse_24dp.xml
  android/app/src/main/res/layout/app_widget.xml
  android/app/src/main/res/layout/app_widget_configure.xml
  android/app/src/main/res/values-night-v31/themes.xml
  android/app/src/main/res/values-v21/styles.xml
  android/app/src/main/res/values-v31/themes.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/main/res/xml/app_widget_info.xml
  android/build.gradle
Due: none

update layouts for no key
  android/app/src/main/kotlin/com/yubico/authenticator/NdefActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/widget/AppWidget.kt
  android/app/src/main/res/drawable/icon_5nfc_teal__rgb__1.xml
  android/app/src/main/res/layout/app_widget.xml
  android/app/src/main/res/mipmap/widget_key.png
  android/app/src/main/res/values/strings.xml
Due: none

update style
  android/app/src/main/res/drawable-v21/app_widget_background.xml
  android/app/src/main/res/layout/app_widget.xml
  android/app/src/main/res/values-night-v31/themes.xml
  android/app/src/main/res/values-v31/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/themes.xml
Due: none

enlarge widget text
  android/app/src/main/res/layout/app_widget.xml
  android/app/src/main/res/values/dimens.xml
Due: none

add copy button
  android/app/src/main/kotlin/com/yubico/authenticator/widget/AppWidget.kt
  android/app/src/main/res/drawable/content_copy_24dp.xml
  android/app/src/main/res/layout/app_widget.xml
  android/app/src/main/res/layout/app_widget_account.xml
  android/app/src/main/res/layout/app_widget_tap_key.xml
  android/app/src/main/res/values/strings.xml
Due: none

add tap actions
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/com/yubico/authenticator/widget/AppWidget.kt
  android/app/src/main/res/layout/app_widget.xml
Due: none

update theme
  android/app/src/main/res/drawable-v21/app_widget_background.xml
  android/app/src/main/res/layout/app_widget.xml
  android/app/src/main/res/values-night/colors.xml
  android/app/src/main/res/values/colors.xml
Due: none

layout updates
  android/app/src/main/kotlin/com/yubico/authenticator/NdefActivity.kt
  android/app/src/main/res/drawable-v21/app_widget_background.xml
  android/app/src/main/res/drawable-v21/app_widget_inner_view_background.xml
  android/app/src/main/res/layout/app_widget.xml
  android/app/src/main/res/layout/app_widget_account.xml
  android/app/src/main/res/layout/app_widget_tap_key.xml
  android/app/src/main/res/values-night-v31/themes.xml
  android/app/src/main/res/values-v31/themes.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/themes.xml
Due: none

Add different views for OATH
  lib/oath/state.dart
  lib/oath/views/account_list.dart
  lib/oath/views/account_view.dart
  lib/oath/views/oath_screen.dart
  lib/widgets/flex_box.dart
Due: none

Add layout tooltips
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/oath_screen.dart
Due: arb-reformatter, update-android-strings

Hide mixed view if no pinned accounts
  lib/oath/views/oath_screen.dart
Due: none

Persist layout settings
  lib/oath/state.dart
  lib/oath/views/oath_screen.dart
Due: none

Hide layout buttons on focus
  lib/oath/views/oath_screen.dart
Due: none

Add toggle sidebar
  lib/app/views/app_page.dart
  lib/app/views/keys.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/account_list.dart
  lib/widgets/flex_box.dart
Due: arb-reformatter, update-android-strings

Add grid/list view to passkeys
  lib/core/state.dart
  lib/fido/state.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/state.dart
  lib/oath/views/account_list.dart
  lib/oath/views/oath_screen.dart
  lib/widgets/flex_box.dart
Due: none

Persist navigation and sidebar visibility state
  lib/app/views/app_page.dart
Due: none

Change passkeys gridview breakpoints
  lib/fido/views/passkeys_screen.dart
  lib/widgets/flex_box.dart
Due: none

Bump Python version
  .github/workflows/env
Due: none

FIDO: Handle PIN with multi-protocol restriction
  lib/fido/views/pin_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Handle PIV disabled for Bio-multi-protocol
  lib/app/views/reset_dialog.dart
  lib/fido/views/pin_dialog.dart
  lib/piv/views/key_actions.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

Change position of toggle sidebar icon
  lib/app/views/app_page.dart
Due: none

Don't show layout options on narrow screens
  lib/fido/views/passkeys_screen.dart
Due: none

Add FIDO PIN max length
  helper/poetry.lock
  helper/pyproject.toml
  lib/fido/views/pin_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/management/models.dart
  lib/management/models.freezed.dart
  lib/management/models.g.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: arb-reformatter, update-android-strings, mypy

Add `fipsCapable` to Android and bump yubikit
  android/app/src/main/kotlin/com/yubico/authenticator/device/Info.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/UnknownDevice.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/SkyHelper.kt
  android/build.gradle
Due: none

Enforce 6 digits for new PIV PIN on old YubiKeys
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

Use SCP11 when possible over NFC
  helper/helper/device.py
  helper/helper/management.py
  helper/helper/oath.py
  helper/helper/piv.py
  helper/helper/yubiotp.py
Due: mypy

Add dropdown layout selection for small screens
  lib/core/state.dart
  lib/fido/views/passkeys_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/models.dart
  lib/oath/state.dart
  lib/oath/views/account_list.dart
  lib/oath/views/oath_screen.dart
  lib/widgets/flex_box.dart
Due: arb-reformatter, update-android-strings

Bump Flutter version and dependencies
  .github/workflows/env
  lint/pubspec.lock
  linux/my_application.cc
  pubspec.lock
  pubspec.yaml
Due: none

Bump Python dependencies
  helper/poetry.lock
Due: mypy

Fix some deprecation issues
  integration_test/keyless_test.dart
  integration_test/management_test.dart
  integration_test/oath_test.dart
  integration_test/otp_test.dart
  integration_test/passkey_test.dart
  integration_test/piv_test.dart
  integration_test/utils/desktop/util.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/oath_screen.dart
  lint/lib/lint.dart
Due: none

bump&refactor
  android/app/build.gradle
  android/app/src/main/kotlin/com/yubico/authenticator/CompatUtil.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/Session.kt
  android/app/src/main/kotlin/com/yubico/authenticator/logging/FlutterLog.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/data/Code.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/keystore/ClearingMemProvider.kt
  android/app/src/test/java/com/yubico/authenticator/device/ConfigTest.kt
  android/app/src/test/java/com/yubico/authenticator/yubikit/SkyHelperTest.kt
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerZxingPlugin.kt
  android/flutter_plugins/qrscanner_zxing/example/android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
Due: none

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
