Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: python3 --version && python3.12 --version && update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

Add link to yubicloud otp upload
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/otp/views/configure_yubiotp_dialog.dart
Due: arb-reformatter, update-android-strings

Change yubiotp upload text
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/otp/views/configure_yubiotp_dialog.dart
Due: arb-reformatter, update-android-strings

update fido session after fingerprint operation
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

update section order
  lib/android/init.dart
Due: none

Change selected colors in `AppListItem`
  lib/app/views/app_list_item.dart
  lib/piv/views/piv_screen.dart
Due: none

Add deviceReset
  .github/workflows/android.yml
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoActionDescription.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementHandler.kt
  android/build.gradle
  lib/android/management/state.dart
Due: none

Interpolate yubiotp upload link in translation string
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/otp/views/configure_yubiotp_dialog.dart
Due: arb-reformatter, update-android-strings

build yubikit 2.5.0 from sources
  .github/workflows/android.yml
  android/build.gradle
Due: none

bump dependecies
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/settings.gradle
Due: none

build yubikit in codeql action as well
  .github/workflows/codeql-analysis.yml
Due: none

Remove duplicate definition of `uploadOtpUri`
  lib/l10n/app_en.arb
  lib/otp/views/configure_yubiotp_dialog.dart
Due: arb-reformatter, update-android-strings

update NativeLibs path
  android/scripts/collect-artifacts.sh
Due: none

Fix section name
  doc/Custom_Account_Icons.adoc
Due: none

use yubikit-android release 2.5.0
  .github/workflows/android.yml
Due: none

bump to yubikit-android 2.5.0
  .github/workflows/android.yml
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/build.gradle
Due: none

use released yubikit-android 2.5.0
  .github/workflows/android.yml
  android/build.gradle
Due: none

use official yubikit-android 2.5.0 for codeql
  .github/workflows/codeql-analysis.yml
Due: none

use yubikit-android 2.5.0
  .github/workflows/android.yml
  android/build.gradle
Due: none

use Flutter 3.19.4
  .github/workflows/env
Due: none

bump flutter packages
  pubspec.lock
  pubspec.yaml
Due: none

rebuild piv models
  lib/piv/models.g.dart
Due: none

update python packages
  helper/poetry.lock
Due: mypy

update license headers
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  lib/android/management/state.dart
Due: none

encode template id as hex
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

always close the sink
  lib/android/fido/state.dart
Due: none

PIV: Show Private Key: <none> when key is missing
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/views/cert_info_view.dart
  lib/piv/views/piv_screen.dart
  lib/piv/views/slot_dialog.dart
Due: arb-reformatter, update-android-strings

replace `applet` with `application`
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

the FIDO PIN
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

Handle more PIN/PUK errors
  helper/helper/fido.py
  helper/helper/piv.py
  helper/poetry.lock
  helper/pyproject.toml
  lib/android/fido/state.dart
  lib/desktop/fido/state.dart
  lib/desktop/piv/state.dart
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/management/models.dart
  lib/management/models.freezed.dart
  lib/management/models.g.dart
  lib/piv/models.dart
  lib/piv/models.freezed.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: arb-reformatter, update-android-strings, mypy

Consistent PIN errors
  helper/helper/base.py
  helper/helper/fido.py
  helper/helper/piv.py
  lib/desktop/fido/state.dart
  lib/fido/views/pin_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings, mypy

update DeviceInfo
  android/app/src/main/kotlin/com/yubico/authenticator/device/Info.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/UnknownDevice.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/SkyHelper.kt
Due: none

Android implementation
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  lib/android/fido/state.dart
Due: none

handle policy violation
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

Fix bug in pin mismatch error text
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

Use hexId in `_CertificateListItem`
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/models.dart
  lib/piv/views/piv_screen.dart
Due: arb-reformatter, update-android-strings

Recover on ConnectionFailure of stale device nodes
  helper/helper/device.py
Due: mypy

Add access code dialog for OTP
  helper/helper/yubiotp.py
  lib/desktop/otp/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/otp/state.dart
  lib/otp/views/access_code_dialog.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/otp/views/delete_slot_dialog.dart
  lib/otp/views/swap_slots_dialog.dart
Due: arb-reformatter, update-android-strings, mypy

Add more details to Passkey details view
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/FidoCredential.kt
  helper/helper/fido.py
  lib/desktop/fido/state.dart
  lib/fido/keys.dart
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/models.g.dart
  lib/fido/views/credential_dialog.dart
  lib/fido/views/credential_info_view.dart
  lib/fido/views/passkeys_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/views/cert_info_view.dart
  lib/widgets/info_table.dart
Due: arb-reformatter, update-android-strings, mypy

Only attempt device recovery a few times
  helper/helper/device.py
Due: mypy

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
