Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, spotless-apply, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: update_android_strings.py
  require_serial: true

spotless-apply:
  name: spotless-apply
  language: script
  entry: spotless_apply.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

Bump to Flutter 3.41.7
  .github/workflows/env
Due: none

Add semantic label to `VisiblityToggleButton`
  lib/widgets/visibility_toggle_button.dart
Due: none

Add tooltips to colors
  lib/home/views/home_screen.dart
Due: none

pre-commit
  lib/home/views/home_screen.dart
Due: none

Use `passkey-outline.svg` and `passkey.svg` for passkey icon
  assets/graphics/passkey-outline.svg
  assets/graphics/passkey.svg
  lib/app/views/navigation.dart
Due: none

Add tooltips to colors (#2166)
  lib/home/views/home_screen.dart
Due: none

Bump version to 7.4.0
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

fix(android): resolve landscape overflow issues
  lib/android/overlay/nfc/nfc_event_notifier.dart
  lib/app/views/app_page.dart
  lib/app/views/navigation.dart
  lib/widgets/ensure_focus_visible.dart
  lib/widgets/responsive_dialog.dart
Due: none

Change rc tag regex
  .github/workflows/windows.yml
Due: none

Update rc tag regex at all places
  .github/workflows/windows.yml
Due: none

feat(qr-scanner): redesign QR scanner UI
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
  android/flutter_plugins/qrscanner_zxing/lib/qrscanner_zxing_view.dart
  lib/android/qr_scanner/qr_scanner_overlay_view.dart
  lib/android/qr_scanner/qr_scanner_permissions_view.dart
  lib/android/qr_scanner/qr_scanner_provider.dart
  lib/android/qr_scanner/qr_scanner_ui_view.dart
  lib/android/qr_scanner/qr_scanner_view.dart
  lib/android/qr_scanner/qr_scanner_widgets.dart
Due: spotless-apply

style: update QR scanner button styles
  lib/android/qr_scanner/qr_scanner_permissions_view.dart
  lib/android/qr_scanner/qr_scanner_widgets.dart
Due: none

fix(android): handle NFC HAL crash on startup
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: spotless-apply

fix(android): improve NFC retry robustness
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: spotless-apply

fix(qr-scanner): add horizontal padding
  lib/android/qr_scanner/qr_scanner_view.dart
Due: none

fix(qr-scanner): address PR review feedback
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
  lib/android/qr_scanner/qr_scanner_permissions_view.dart
Due: spotless-apply

refactor(qr-scanner): use switch expression
  lib/android/qr_scanner/qr_scanner_overlay_view.dart
Due: none

fix(android): split NDEF and App Link aliases
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/com/yubico/authenticator/ActivityUtil.kt
Due: spotless-apply

android: prompt for my.yubico.com link association on Android 16
  android/app/src/main/kotlin/com/yubico/authenticator/DomainVerificationHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  lib/android/app_methods.dart
  lib/android/init.dart
  lib/android/views/domain_association_prompt.dart
  lib/app/views/settings_page.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_th.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings, spotless-apply

Bump Flutter and Dart dependencies
  .github/workflows/env
  linux/flutter/generated_plugins.cmake
  pubspec.lock
  windows/flutter/generated_plugins.cmake
Due: none

add semantics
  lib/app/message.dart
Due: none

add color label
  lib/home/views/home_screen.dart
Due: none

thicken borders
  lib/theme.dart
Due: none

change passive border size
  lib/theme.dart
Due: none

Fix null-aware element
  lib/widgets/app_input_decoration.dart
Due: none

Bump Python and deps
  .github/workflows/env
  helper/uv.lock
Due: mypy

update mac flutter
  macos/Podfile.lock
  macos/Runner.xcodeproj/project.pbxproj
  macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Due: none

Bump `Podfile.lock`
  macos/Podfile.lock
Due: none

chore(android): bump Gradle and Android deps
  android/app/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/gradle/wrapper/gradle-wrapper.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
Due: none

ci: pin GH Actions to latest SHAs
  .github/workflows/android.yml
  .github/workflows/check-strings.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

remove dialog role
  lib/app/message.dart
Due: none

a11y: touchups (#2206)
  lib/home/views/home_screen.dart
  lib/theme.dart
Due: none

fix(qrscanner): register observer after init
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
Due: spotless-apply

Pull translations from Crowdin
  android/app/src/main/res/values-bg/strings.xml
  android/app/src/main/res/values-he/strings.xml
  assets/l10n/status.json
  crowdin.yaml
  lib/l10n/app_bg.arb
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_he.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_zh.arb
Due: arb-reformatter, update-android-strings

Sign `dartjni.dll`
  .github/scribe-sign-exe-dll.yml
  .github/workflows/windows.yml
Due: none

feat(qrscanner): downgrade to CameraX 1.5.3
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
Due: spotless-apply

chore: update NEWS
  NEWS
Due: none

fix(qrscanner): restore NFC restart on close
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
Due: spotless-apply

Windows fixes
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/util.rs
  helper/shell.py
  lib/desktop/devices.dart
Due: mypy

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  spotless-apply: any of: \.kt$
  mypy: any of: helper/
