Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, spotless-apply, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: local
  hooks:
    - id: flutter-l10n-gen
      name: generate-l10n
      language: system
      entry: flutter gen-l10n
      pass_filenames: false
      require_serial: true
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      exclude: lib/generated
      require_serial: true
    - id: flutter-analyze
      exclude: lib/generated
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: update_android_strings.py
      require_serial: true
    - id: spotless-apply
      name: spotless-apply
      files: \.kt$
      language: script
      entry: spotless_apply.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.0
  hooks:
    # Run the linter, organize imports
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter
    - id: ruff-format

fix(android): clean up camera objects
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
Due: spotless-apply

fix(android): unbind previous camera controller
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
Due: spotless-apply

refactor(android): extract releaseCamera()
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
Due: spotless-apply

fix(android): clean up on cancellation
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivConnectionHelper.kt
Due: spotless-apply

fix(android): log error on USB discovery failure
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: spotless-apply

fix(android): fix scope for LiveData observer
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: spotless-apply

deps: bump python version to 3.14.4
  .github/workflows/env
Due: none

Add `semanticLabel` to clear text button
  lib/oath/views/oath_screen.dart
Due: none

a11y: Add tooltips for IconButtons (#2135)
  lib/android/overlay/nfc/views/nfc_overlay_widget.dart
  lib/fido/views/passkeys_screen.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  lib/oath/views/oath_screen.dart
Due: arb-reformatter, update-android-strings

Change to alphabetical import order
  lib/otp/views/access_code_dialog.dart
Due: none

Remove excludesemantics
  lib/widgets/visibility_toggle_button.dart
Due: none

Bump Python version and deps
  .github/workflows/env
  helper/uv.lock
Due: mypy

cherrypick PR #2117
  lib/desktop/init.dart
  lib/desktop/window_manager_helper/_wm_helper_linux_impl.dart
  lib/desktop/window_manager_helper/window_manager_helper.dart
Due: mypy

Bump Flutter version
  .github/workflows/env
  pubspec.lock
Due: none

Add labels/tooltips to elements (#2133)
  lib/fido/views/pin_confirmation_dialog.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/home/views/home_screen.dart
  lib/management/views/management_screen.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/access_code_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
  lib/piv/views/pin_dialog.dart
  lib/widgets/info_popup_button.dart
  lib/widgets/visibility_toggle_button.dart
Due: none

Bump version to 7.3.3
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
Due: mypy

Announce radio buttons as radio buttons correctly
  lib/app/views/settings_page.dart
Due: none

Pre commit
  lib/app/views/settings_page.dart
Due: none

Update NEWS
  NEWS
Due: none

Make color buttons work with VO
  lib/home/views/home_screen.dart
Due: none

pre-commit
  lib/home/views/home_screen.dart
Due: none

Review changes
  lib/home/views/home_screen.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Rebase
  lib/home/views/home_screen.dart
Due: none

add isdefault to default color
  lib/home/views/home_screen.dart
Due: none

Read out expanded/collapsed
  lib/home/views/home_screen.dart
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

pre-commit
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Make screen reader read colors
  lib/home/views/home_screen.dart
Due: none

Make color window dynamic
  lib/home/views/home_screen.dart
Due: none

pre commit
  lib/home/views/home_screen.dart
Due: none

fix minimal window sizes
  lib/home/views/home_screen.dart
Due: none

Remove `Stack`
  lib/home/views/home_screen.dart
Due: none

a11y: add `selected` property to ColorButton
  lib/home/views/home_screen.dart
Due: none

a11y(android): avoid duplicate announcement
  lib/home/views/home_screen.dart
Due: none

a11y: fix ColorButton icon color and rendering
  lib/home/views/home_screen.dart
Due: none

Make color buttons work with screen readers (#2132)
  lib/home/views/home_screen.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

testing
  lib/app/views/settings_page.dart
Due: none

a11y(android): don't use borders on Android
  lib/app/views/action_list.dart
  lib/app/views/app_list_item.dart
  lib/app/views/device_picker.dart
  lib/app/views/navigation.dart
  lib/home/views/home_screen.dart
  lib/theme.dart
  lib/widgets/focus_border.dart
Due: none

Remove isRequired from prompts that are not forms
  lib/fido/views/pin_confirmation_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/access_code_dialog.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: none
