Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: python3 --version && python3.12 --version && update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

showenv
  .github/workflows/linux.yml
  .pre-commit-config.yaml
  show_env.sh
Due: none

python3 env fix
  .github/workflows/linux.yml
Due: none

Handle null qrScanner
  lib/android/qr_scanner/qr_scanner_provider.dart
  lib/app/views/main_page.dart
  lib/oath/views/key_actions.dart
Due: none

Replace empty issuer with null.
  lib/oath/models.dart
Due: none

Enlarge keyboard shortcut text.
  lib/app/views/action_popup_menu.dart
Due: none

make integration tests wait for device connection
  integration_test/utils/test_util.dart
Due: none

add multiple accounts on any connection
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: none

Update NEWS.
  NEWS
Due: none

bump build number
  lib/version.dart
  pubspec.yaml
Due: none

bump cocoapods to latest 1.14.3
  macos/Podfile.lock
Due: none

update NEWS
  NEWS
Due: none

Fix NEWS entry.
  NEWS
Due: none

use setup-cocoapods GitHub Action
  .github/workflows/macos.yml
Due: none

Bump version to 6.4.0-dev.0
  NEWS
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Use Python 3.12.1.
  .github/workflows/env
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

Add helper utility function for OTP.
  helper/helper/yubiotp.py
Due: mypy

Add OTP application.
  lib/app/models.dart
  lib/app/views/main_page.dart
  lib/desktop/init.dart
  lib/desktop/otp/state.dart
  lib/l10n/app_en.arb
  lib/otp/features.dart
  lib/otp/keys.dart
  lib/otp/models.dart
  lib/otp/models.freezed.dart
  lib/otp/models.g.dart
  lib/otp/state.dart
  lib/otp/views/actions.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/otp/views/delete_slot_dialog.dart
  lib/otp/views/key_actions.dart
  lib/otp/views/otp_screen.dart
  lib/otp/views/overwrite_confirm_dialog.dart
  lib/otp/views/slot_dialog.dart
  lib/otp/views/swap_slots_dialog.dart
Due: arb-reformatter, update-android-strings

Add export of YubiOTP credential.
  helper/helper/yubiotp.py
  lib/desktop/otp/state.dart
  lib/l10n/app_en.arb
  lib/otp/state.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/widgets/choice_filter_chip.dart
Due: arb-reformatter, update-android-strings, mypy

Persist last selected YubiOTP Output file.
  lib/otp/state.dart
  lib/otp/views/configure_yubiotp_dialog.dart
Due: none

Enhance error handling in OTP.
  lib/app/views/navigation.dart
  lib/core/models.dart
  lib/l10n/app_en.arb
  lib/otp/models.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/otp/views/delete_slot_dialog.dart
  lib/otp/views/otp_screen.dart
  lib/otp/views/slot_dialog.dart
Due: arb-reformatter, update-android-strings

Add error suffixIcon.
  lib/fido/views/locked_page.dart
  lib/fido/views/pin_dialog.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/rename_account_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: none

Add visibility icon to fields with obscureText
  lib/fido/views/pin_dialog.dart
  lib/l10n/app_en.arb
  lib/oath/views/manage_password_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: arb-reformatter, update-android-strings

Chip instead of checkbox for remembering pw
  lib/oath/views/unlock_form.dart
Due: none

Progressbar for reseting FIDO
  lib/fido/views/reset_dialog.dart
Due: none

Remove duplicate strings.
  lib/app/models.dart
  lib/l10n/app_en.arb
  lib/otp/views/otp_screen.dart
  lib/piv/views/piv_screen.dart
Due: arb-reformatter, update-android-strings

Change view in OATH `unlock_form`.
  lib/oath/views/unlock_form.dart
Due: none

Linting fixes.
  helper/helper/yubiotp.py
  lib/app/views/main_page.dart
  lib/desktop/init.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/add_account_page.dart
  lib/otp/models.dart
  lib/otp/models.freezed.dart
  lib/otp/models.g.dart
  lib/otp/views/actions.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/otp/views/delete_slot_dialog.dart
  lib/otp/views/key_actions.dart
  lib/otp/views/otp_screen.dart
  lib/otp/views/slot_dialog.dart
  lib/otp/views/swap_slots_dialog.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/manage_key_dialog.dart
Due: arb-reformatter, update-android-strings, mypy

Don't close FIDO reset dialog on done.
  lib/fido/views/reset_dialog.dart
Due: none

Bump zxing-cpp and stop building from source.
  helper/poetry.lock
  helper/pyproject.toml
  helper/zxing_cpp-2.1.0-cp312-cp312-win_amd64.whl
Due: mypy

Use `AppTextField` instead of `TextField`.
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
Due: none

First OTP test case.
  integration_test/otp_test.dart
Due: none

support OTP app on YubiKey Neo (fw 3.x)
  helper/helper/device.py
Due: mypy

Fix typo in logger.
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
Due: none

Add `AppInputDecoration`.
  lib/fido/views/locked_page.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
  lib/piv/views/pin_dialog.dart
  lib/widgets/app_text_field.dart
Due: none

fix python formatting
  helper/helper/device.py
Due: mypy

Add missing localizations.
  lib/fido/views/reset_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/otp/views/configure_yubiotp_dialog.dart
Due: arb-reformatter, update-android-strings

Add `AppInputDecoration` to `AppTextFormField`.
  lib/fido/views/add_fingerprint_dialog.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/rename_fingerprint_dialog.dart
  lib/oath/views/oath_screen.dart
  lib/oath/views/rename_account_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/widgets/app_text_form_field.dart
Due: none

Put `AppInputDecoration` in separate file.
  lib/fido/views/add_fingerprint_dialog.dart
  lib/fido/views/locked_page.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/rename_fingerprint_dialog.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/oath_screen.dart
  lib/oath/views/rename_account_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
  lib/piv/views/pin_dialog.dart
  lib/widgets/app_input_decoration.dart
  lib/widgets/app_text_field.dart
  lib/widgets/app_text_form_field.dart
Due: none

Add yubiotp interface fallback mechanism.
  lib/desktop/otp/state.dart
Due: none

Add feature per OTP configuration type.
  lib/otp/features.dart
  lib/otp/models.dart
  lib/otp/views/actions.dart
Due: none

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
