Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, spotless-apply, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: update_android_strings.py
  require_serial: true

spotless-apply:
  name: spotless-apply
  language: script
  entry: spotless_apply.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

Add isRequired to subject in PIV
  lib/piv/views/generate_key_dialog.dart
Due: none

Pull translations from Crowdin
  android/app/src/main/res/values-th/strings.xml
  assets/l10n/status.json
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_th.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Bump pillow
  helper/pyproject.toml
  helper/uv.lock
Due: mypy

Bump MacOS target for Pillow from 10.13 to 10.15
  build-helper.sh
Due: none

Bump Python dependencies
  helper/uv.lock
Due: mypy

Update release date in NEWS
  NEWS
Due: none

Bump version to 7.3.4-dev.0 / 70306
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Improve settings selection
  lib/app/views/settings_page.dart
Due: none

pre commit
  lib/app/views/settings_page.dart
Due: none

Add s_required string to Thai
  lib/l10n/app_th.arb
Due: arb-reformatter, update-android-strings

feat(android): Persist read-only access
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/Session.kt
  lib/android/fido/state.dart
Due: spotless-apply

Add scroll to save function
  lib/app/views/settings_page.dart
Due: none

fix: don't show PPUAT chip on Fingerprints page
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/pin_entry_form.dart
Due: none

refactor: make canRemember public in PinEntryForm
  lib/fido/views/pin_entry_form.dart
Due: none

Remove save button
  lib/app/views/settings_page.dart
Due: none

Remove prints
  lib/app/views/settings_page.dart
Due: none

deps: bump yubikit-android, compileSdk
  android/build.gradle
Due: none

fix(android): refactor theming
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/res/values-v27/styles.xml
  android/app/src/main/res/values-v29/styles.xml
  android/app/src/main/res/values-v31/styles.xml
  android/app/src/main/res/values/styles.xml
  lib/android/init.dart
Due: spotless-apply

Make dialog stay open during setting selection
  lib/app/views/settings_page.dart
Due: none

Revert to ConsumerWidget
  lib/app/views/settings_page.dart
Due: none

Remove selection function for log setting
  lib/app/views/settings_page.dart
Due: none

Add underline to links
  lib/app/views/action_list.dart
  lib/app/views/settings_page.dart
Due: none

a11y: Stop auto closing of settings with arrow press (#2154)
  lib/app/views/action_list.dart
  lib/app/views/settings_page.dart
Due: none

feat: Support landscape orientation on Android
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/res/values-sw600dp/bools.xml
  android/app/src/main/res/values/bools.xml
  lib/app/views/app_page.dart
  lib/fido/views/add_fingerprint_dialog.dart
  lib/widgets/ensure_focus_visible.dart
  lib/widgets/responsive_dialog.dart
Due: spotless-apply

Ensure logical focus traversal order
  lib/app/views/app_page.dart
Due: none

Remove unused `actionButtonBuilder` from `AppPage`
  lib/app/views/app_page.dart
  lib/app/views/message_page.dart
  lib/home/views/home_message_page.dart
Due: none

Increase contrast
  lib/app/views/app_page.dart
Due: none

Perform field validation on submit
  lib/fido/views/add_fingerprint_dialog.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/fido/views/rename_fingerprint_dialog.dart
  lib/home/views/manage_label_dialog.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_th.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  lib/oath/views/add_account_page.dart
  lib/oath/views/add_multi_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/rename_account_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/access_code_dialog.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: arb-reformatter, update-android-strings

Announce error text
  lib/widgets/app_text_field.dart
Due: none

Fix clearing of error texts and ensure submit buttons are not disabled
  lib/oath/views/manage_password_dialog.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: none

Fix error text logic in FIDO PIN entry form
  lib/fido/views/pin_entry_form.dart
Due: none

Don't validate min length in auth prompts
  lib/fido/views/pin_confirmation_dialog.dart
  lib/fido/views/pin_dialog.dart
  lib/otp/views/access_code_dialog.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: none

Change asterisk color
  lib/home/views/manage_label_dialog.dart
  lib/l10n/app_en.arb
  lib/oath/views/add_account_page.dart
  lib/widgets/app_input_decoration.dart
Due: arb-reformatter, update-android-strings

Ensure rename dialog is closed when not changed
  lib/oath/views/rename_account_dialog.dart
Due: none

Remove `s_issuer_optional`
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_th.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  lib/oath/views/add_account_page.dart
  lib/oath/views/rename_account_dialog.dart
Due: arb-reformatter, update-android-strings

Remove redundant comments
  lib/app/views/app_page.dart
Due: none

Increase contrast (#2160)
  lib/app/views/app_page.dart
Due: none

Add tooltips to custom filter chips
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_th.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  lib/oath/views/add_account_page.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/piv/views/move_key_dialog.dart
Due: arb-reformatter, update-android-strings

Add underline to yubiotp upload link
  lib/otp/views/configure_yubiotp_dialog.dart
Due: none

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  spotless-apply: any of: \.kt$
  mypy: any of: helper/
