Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, spotless-apply, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: update_android_strings.py
  require_serial: true

spotless-apply:
  name: spotless-apply
  language: script
  entry: spotless_apply.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

management: Send only changed application capabilities
  lib/management/views/management_screen.dart
Due: none

management: Refresh device state after configuration changes
  helper/crates/helper/src/connection.rs
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/management.rs
  helper/crates/helper/src/monitor.rs
  lib/desktop/devices.dart
  test/desktop/devices_test.dart
Due: mypy

Automate keyed integration tests with Pico controller
  integration_test/controller.dart
  integration_test/controller.py
  integration_test/fido_prep.py
  integration_test/fido_test.dart
  integration_test/oath_test.dart
  integration_test/runner.py
  lib/app/state.dart
  lib/app/views/main_page.dart
  lib/app/views/reset_dialog.dart
  lib/desktop/devices.dart
  testrunner.bat
  testrunner.sh
Due: none

Preserve OATH state across helper session handoffs
  helper/crates/helper/src/oath.rs
  integration_test/oath_test.dart
Due: mypy

Fix Yubico OTP public ID decoding and integration assertions
  helper/crates/helper/src/yubiotp.rs
  integration_test/otp_test.dart
Due: mypy

Refresh FIDO state after PIN and credential changes
  helper/crates/helper/src/fido.rs
  integration_test/fido_test.dart
  integration_test/utils.dart
  lib/desktop/fido/state.dart
Due: mypy

Update integration and unit tests for current UI and device notifier
  integration_test/keyless_test.dart
  test/desktop/devices_test.dart
Due: none

Invalidate helper devices on monitor reinsertion
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/monitor.rs
  integration_test/fido_test.dart
  lib/desktop/devices.dart
Due: mypy

Show waiting state after FIDO reset touch
  helper/crates/helper/src/fido.rs
Due: mypy

Cover configuration and reconnect flows in UI tests
  integration_test/fido_test.dart
  integration_test/keyed_test.dart
  integration_test/management_test.dart
  integration_test/oath_test.dart
  integration_test/runner.py
  lib/desktop/devices.dart
  lib/management/views/management_screen.dart
Due: none

Capture hardware test diagnostics and cover all window sizes
  integration_test/management_test.dart
  integration_test/oath_test.dart
  integration_test/run_artifacts.py
  integration_test/runner.py
  integration_test/test_run_artifacts.py
  integration_test/utils.dart
Due: none

Run all UI tests by default with Pico controller
  integration_test/runner.py
  integration_test/test_runner.py
Due: none

Refresh Dart dependency lockfile
  pubspec.lock
Due: none

Upgrade Dart generators and analyzer tooling
  analysis_options.yaml
  lib/android/overlay/nfc/models.freezed.dart
  lib/android/state.dart
  lib/app/models.dart
  lib/app/models.freezed.dart
  lib/core/models.freezed.dart
  lib/desktop/models.freezed.dart
  lib/fido/models.freezed.dart
  lib/management/models.freezed.dart
  lib/oath/models.freezed.dart
  lib/otp/models.freezed.dart
  lib/piv/models.freezed.dart
  lint/lib/lint.dart
  lint/lib/main.dart
  lint/pubspec.lock
  lint/pubspec.yaml
  lint/test/lint_test.dart
  pubspec.lock
  pubspec.yaml
Due: none

Migrate desktop tray to tray_manager 0.7
  .github/scribe-sign-exe-dll.yml
  .github/workflows/env
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  lib/desktop/systray.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Due: none

Ignore local VS Code settings and generated platform files
  .gitignore
  analysis_options.yaml
Due: none

Fix desktop UI test recovery and manual reconnect coverage
  integration_test/oath_test.dart
  integration_test/piv_test.dart
  lib/desktop/fido/state.dart
  lib/desktop/rpc.dart
  lib/fido/views/pin_dialog.dart
  test/desktop/rpc_test.dart
Due: none

Fix OTP programming races and lowercase HOTP keys
  integration_test/otp_test.dart
  lib/otp/views/configure_hotp_dialog.dart
Due: none

Fix NFC FIDO reset progress and prompt handling
  lib/app/views/reset_dialog.dart
  lib/desktop/fido/state.dart
  test/app/views/reset_dialog_test.dart
Due: none

Add post-quantum PIV key support
  helper/crates/helper/src/piv.rs
  integration_test/piv_test.dart
  lib/piv/models.dart
  lib/piv/models.g.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/utils.dart
  test/piv/utils_test.dart
Due: mypy

Clear cached credentials before enabling traffic logging
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/logging/FlutterLog.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/piv/PivManager.kt
  lib/android/logger.dart
  lib/app/logging.dart
  lib/app/views/settings_page.dart
  lib/desktop/fido/state.dart
  lib/desktop/init.dart
  lib/desktop/oath/state.dart
  lib/desktop/piv/state.dart
  test/android/logger_test.dart
  test/app/logging_test.dart
Due: spotless-apply

Update file picker and desktop drop with safe CSV export
  android/build.gradle
  lib/android/qr_scanner/qr_scanner_provider.dart
  lib/app/icon_provider/icon_pack_dialog.dart
  lib/app/views/settings_page.dart
  lib/l10n/app_en.arb
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/otp/yubiotp_csv.dart
  lib/piv/views/actions.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
  test/otp/yubiotp_csv_test.dart
Due: arb-reformatter, update-android-strings

Fix fido refresh state.
  integration_test/fido_test.dart
  lib/desktop/fido/state.dart
  lib/desktop/oath/state.dart
  lib/desktop/piv/state.dart
  test/app/logging_test.dart
Due: none

Update CI and Windows packaging for Rust service
  .github/scribe-sign-exe-dll.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linux-arm64.yml
  .github/workflows/windows.yml
  doc/Development.adoc
  resources/win/msix/AppxManifest.xml
  resources/win/release-win.ps1
  resources/win/verify_dll.ps1
  resources/win/yubioath-desktop.wxs
  set-version.py
Due: none

Bump dependencies
  helper/Cargo.toml
Due: mypy

Resolve lint package before Flutter analysis
  .pre-commit-config.yaml
  lib/otp/views/configure_static_dialog.dart
Due: none

Fix Linux GLib and macOS deployment CI builds
  README.adoc
  linux/CMakeLists.txt
  macos/Podfile
  macos/Podfile.lock
  macos/Runner.xcodeproj/project.pbxproj
Due: none

Simplify actions
  .github/workflows/env
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

Improve builds
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

Handle absolute paths in signed Windows archives
  .github/scripts/extract_signed_zip.py
  .github/scripts/test_extract_signed_zip.py
  .github/workflows/windows.yml
Due: none

Fix linux builds
  .github/workflows/linux.yml
  update_android_strings.py
Due: none

Fix builds
  .github/workflows/android.yml
  .github/workflows/check-strings.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

Speed up builds
  .github/workflows/android.yml
  .github/workflows/check-strings.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/flutter-checks.yml
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  android/gradle.properties
Due: none

Add Win ARM64
  .github/scribe-sign-exe-dll-arm64.yml
  .github/scribe-sign-msi-arm64.yml
  .github/workflows/windows-arm64.yml
  .github/workflows/windows.yml
  resources/win/msix/AppxManifest.xml
  resources/win/yubioath-desktop.wxs
Due: none

Fix Scribe concurrency
  .github/workflows/windows-arm64.yml
  .github/workflows/windows.yml
Due: none

Bump version
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: none

Bump pins
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows-arm64.yml
  .github/workflows/windows.yml
Due: none

Recover Passkeys after service-backed hotplug failures
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows-arm64.yml
  .github/workflows/windows.yml
  helper/crates/helper/src/devices.rs
  lib/desktop/oath/state.dart
  lib/fido/state.dart
Due: mypy

Add rust pre-commit hooks
  .github/workflows/flutter-checks.yml
  .pre-commit-config.yaml
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/fido.rs
  helper/crates/helper/src/management.rs
  helper/crates/helper/src/oath.rs
  helper/crates/helper/src/yubiotp.rs
Due: mypy

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  spotless-apply: any of: \.kt$
  mypy: any of: helper/
