Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

Finalize UI for PIV when not FIPS approved
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/views/actions.dart
Due: arb-reformatter, update-android-strings

All PIV/PUK tests mended again...
  integration_test/piv_test.dart
  integration_test/utils/piv_test_util.dart
  lib/home/views/key_actions.dart
  lib/piv/views/manage_key_dialog.dart
Due: none

first version of the feature, wip still
  android/app/src/main/kotlin/com/yubico/authenticator/DialogManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoActionDescription.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathActionDescription.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/data/Credential.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/NfcActivityDispatcher.kt
  android/settings.gradle
  lib/android/fido/state.dart
  lib/android/init.dart
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/nfc_activity_command_listener.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
  lib/app/models.dart
  lib/app/models.freezed.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/theme.dart
  lib/widgets/pulsing.dart
Due: arb-reformatter, update-android-strings

shorten localization key names
  lib/android/fido/state.dart
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

fix strings errors
  check_strings.py
  lib/android/fido/state.dart
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

unfocus correctly to hide sw keyboard
  lib/oath/views/add_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/rename_account_dialog.dart
Due: none

review and improve unfocus changes
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/rename_account_dialog.dart
Due: none

Change tooltips for details view
  lib/app/views/app_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Add missing return from delete FIDO credential
  helper/helper/fido.py
Due: mypy

show warning page
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/UnknownDevice.kt
  lib/android/state.dart
  lib/app/views/device_error_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Add missing return from delete YubiOTP configuration
  helper/helper/yubiotp.py
Due: mypy

bump deps, add support for version override
  android/app/build.gradle
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/DeviceInfoHelper.kt
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/settings.gradle
Due: none

update class names, cleanup
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/models.dart
  lib/android/views/nfc/models.freezed.dart
  lib/android/views/nfc/nfc_activity_command_listener.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
  lib/app/models.dart
  lib/app/models.freezed.dart
Due: none

replace pulsing widget with nfc progressbar
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/nfc_progress_bar.dart
  lib/widgets/pulsing.dart
Due: none

Use `delocate-merge` over deprecated `delocate-fuse`
  build-helper.sh
Due: none

remove unused widgets
  lib/android/views/nfc/fade_in_out.dart
  lib/android/views/nfc/main_page_nfc_activity_widget.dart
  lib/android/views/nfc/nfc_activity_icon.dart
  lib/android/views/nfc/nfc_activity_widget.dart
  lib/app/views/main_page.dart
Due: none

update naming style
  lib/android/init.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/nfc_activity_command_listener.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
Due: none

refactor
  lib/android/fido/state.dart
  lib/android/method_channel_notifier.dart
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/nfc_content_widget.dart
Due: none

add helper methods for commands
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/models.dart
Due: none

update dialog titles
  lib/android/fido/state.dart
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
  lib/android/views/nfc/nfc_content_widget.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

provide icon widget to nfc content vidget
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/nfc_content_widget.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

unify dialog title, add success icon
  lib/android/fido/state.dart
  lib/android/method_channel_notifier.dart
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/models.dart
  lib/android/views/nfc/models.freezed.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
  lib/android/views/nfc/nfc_content_widget.dart
  lib/android/views/nfc/nfc_success_icon.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

add close button to the bottom sheet
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
Due: none

support for FIDO, conditional messages
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementHandler.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
  lib/app/message.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/rename_account_dialog.dart
Due: arb-reformatter, update-android-strings

Add consistent tooltips for drawer button
  lib/app/views/app_page.dart
Due: none

Update device info after setPin and reset
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
Due: none

Apply pre-commit fixes
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Change drawer button color
  lib/app/views/app_page.dart
Due: none

add alert dialog
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/res/values-vi/strings.xml
  lib/android/android_alert_dialog.dart
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/app/views/main_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

update localization keys
  lib/app/views/device_error_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

update copy, redesign dialog
  lib/android/android_alert_dialog.dart
  lib/android/oath/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Handle timed out FIDO reset on older keys
  helper/helper/fido.py
Due: mypy

replace dialog with toasts
  lib/android/android_alert_dialog.dart
  lib/android/oath/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

support retries on NFC failure
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementHandler.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/ConnectionHelper.kt
  lib/android/fido/state.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/nfc_activity_command_listener.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
  lib/android/views/nfc/nfc_failure_icon.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
  lib/oath/views/rename_account_dialog.dart
Due: arb-reformatter, update-android-strings

update English copy
  lib/android/oath/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

schedule device info update in fido and oath
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  lib/android/fido/state.dart
Due: none

Ensure search field is not hidden behind title
  lib/app/views/app_page.dart
  lib/app/views/keys.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/oath_screen.dart
Due: none

fix pop stack on device change, support nfc retry
  android/app/src/main/kotlin/com/yubico/authenticator/AppContextManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  lib/android/fido/state.dart
  lib/android/oath/state.dart
  lib/app/views/main_page.dart
Due: none

Bump Flutter version
  .github/workflows/env
  .github/workflows/macos.yml
  macos_assemble.patch
Due: none

Increase vertical padding between search and passkeys
  lib/fido/views/passkeys_screen.dart
Due: none
