Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

Disable `allowImplicitScrolling`
  lib/app/views/app_page.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/oath_screen.dart
Due: none

handle app context changes
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  lib/exception/platform_exception_decoder.dart
Due: none

improve exception handling
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/ConnectionHelper.kt
Due: none

refactor autoclose views
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/models.dart
  lib/android/views/nfc/nfc_activity_command_listener.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
  lib/android/views/nfc/nfc_auto_close_widget.dart
  lib/android/views/nfc/nfc_content_widget.dart
  lib/android/views/nfc/nfc_count_down_close_widget.dart
  lib/app/views/main_page.dart
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

minor nfc views refactor
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/models.dart
  lib/android/views/nfc/nfc_activity_command_listener.dart
  lib/android/views/nfc/nfc_auto_close_widget.dart
  lib/android/views/nfc/nfc_count_down_close_widget.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

remove unused c_ prefix
  check_strings.py
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

UX updates
  lib/android/fido/state.dart
  lib/android/method_channel_notifier.dart
  lib/android/oath/state.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/models.dart
  lib/android/views/nfc/models.freezed.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
  lib/android/views/nfc/nfc_auto_close_widget.dart
  lib/android/views/nfc/nfc_content_widget.dart
  lib/android/views/nfc/nfc_count_down_close_widget.dart
  lib/android/views/nfc/nfc_failure_icon.dart
  lib/android/views/nfc/nfc_progress_bar.dart
  lib/app/message.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

cleanup localizations
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

fix/add strings
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
  lib/oath/views/rename_account_dialog.dart
Due: arb-reformatter, update-android-strings

update key for "Done"
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Change copy
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Use correct l10n key
  lib/android/tap_request_dialog.dart
Due: none

refactor
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/models.dart
  lib/android/views/nfc/models.freezed.dart
  lib/android/views/nfc/nfc_activity_command_listener.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
  lib/android/views/nfc/nfc_auto_close_widget.dart
  lib/android/views/nfc/nfc_count_down_close_widget.dart
Due: none

refactor
  lib/android/init.dart
  lib/android/method_channel_notifier.dart
  lib/android/tap_request_dialog.dart
  lib/android/views/nfc/models.dart
  lib/android/views/nfc/models.freezed.dart
  lib/android/views/nfc/nfc_activity_command_listener.dart
  lib/android/views/nfc/nfc_activity_overlay.dart
Due: none

remove explicitAction variable
  lib/android/tap_request_dialog.dart
Due: none

update flutter file structure
  lib/android/fido/state.dart
  lib/android/init.dart
  lib/android/oath/state.dart
  lib/android/overlay/nfc/method_channel_notifier.dart
  lib/android/overlay/nfc/models.dart
  lib/android/overlay/nfc/models.freezed.dart
  lib/android/overlay/nfc/nfc_event_notifier.dart
  lib/android/overlay/nfc/nfc_overlay_provider.dart
  lib/android/overlay/nfc/views/nfc_content_widget.dart
  lib/android/overlay/nfc/views/nfc_overlay_icons.dart
  lib/android/overlay/nfc/views/nfc_overlay_widget.dart
  lib/android/views/nfc/models.dart
  lib/android/views/nfc/nfc_auto_close_widget.dart
  lib/android/views/nfc/nfc_count_down_close_widget.dart
  lib/android/views/nfc/nfc_success_icon.dart
Due: none

cleanup
  lib/app/views/horizontal_shake.dart
  lib/app/views/main_page.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/rename_account_dialog.dart
Due: none

simplify method channel calls
  lib/android/fido/state.dart
  lib/android/oath/state.dart
  lib/android/overlay/nfc/method_channel_notifier.dart
Due: none

shorten names, refactor
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/NfcState.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/NfcStateDispatcher.kt
  lib/android/app_methods.dart
  lib/android/overlay/nfc/nfc_overlay_provider.dart
  lib/android/state.dart
  lib/android/window_state_provider.dart
  lib/app/views/device_picker.dart
  lib/app/views/main_page.dart
  lib/app/views/message_page_not_initialized.dart
Due: none

update class name
  lib/android/init.dart
  lib/android/oath/state.dart
  lib/android/overlay/nfc/method_channel_notifier.dart
  lib/android/overlay/nfc/nfc_event_notifier.dart
  lib/android/overlay/nfc/nfc_overlay.dart
Due: none

update names for overlay in native code
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/NfcOverlayManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  lib/android/overlay/nfc/nfc_overlay.dart
Due: none

update dependencies
  android/app/build.gradle
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/settings.gradle
Due: none

Python: Bump dependencies
  helper/poetry.lock
Due: mypy

Flutter: Bump dependencies
  pubspec.lock
Due: none

Bump pyscard from broken 2.1.0 to 2.1.1
  helper/poetry.lock
Due: mypy

Bump Python to 3.12.6
  .github/workflows/env
Due: none

All PIV/PUK flaky tests removed
  integration_test/piv_test.dart
  lib/app/views/keys.dart
  lib/piv/keys.dart
  lib/piv/views/manage_key_dialog.dart
Due: none

fixing keyless tests
  integration_test/keyless_test.dart
  lib/home/views/key_actions.dart
Due: none

All PIV/PUK tests mended again...
  integration_test/piv_test.dart
  integration_test/utils/piv_test_util.dart
  lib/home/views/key_actions.dart
  lib/piv/views/manage_key_dialog.dart
Due: none

fixing flaky and broken OATH tests
  integration_test/oath_test.dart
  integration_test/utils/oath_test_util.dart
  integration_test/utils/piv_test_util.dart
  integration_test/utils/test_util.dart
Due: none

all passkey tests polished
  integration_test/passkey_test.dart
  integration_test/utils/passkey_test_util.dart
Due: none

management tests resolved
  integration_test/management_test.dart
  integration_test/utils/test_util.dart
Due: none

remove nfc retries
  android/app/src/main/kotlin/com/yubico/authenticator/AppContextManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  lib/android/overlay/nfc/nfc_overlay.dart
  lib/app/views/main_page.dart
Due: none

minor fixes
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: none

emit nfc overlay messages after FIDO reset
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
Due: none

Bump version to 7.1.0
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Update l10n from Crowdin
  android/app/src/main/res/values-pl/strings.xml
  lib/l10n/app_de.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

handle IO exceptions correctly
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  lib/app/views/main_page.dart
Due: none

preserve connections in addToAny methods
  lib/android/oath/state.dart
Due: none
