Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, spotless-apply, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: update_android_strings.py
  require_serial: true

spotless-apply:
  name: spotless-apply
  language: script
  entry: spotless_apply.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

helper/ui: single shared pipe + FIDO blocked error screen
  helper/crates/helper/src/devices.rs
  lib/app/views/app_failure_page.dart
  lib/desktop/devices.dart
Due: mypy

devices: show phantom entry for blocked FIDO-only devices
  lib/app/views/device_error_screen.dart
  lib/desktop/devices.dart
Due: none

helper: don't re-enumerate devices on every poll when PIDs are unaccounted
  helper/crates/helper/src/devices.rs
Due: mypy

Invalidate DeviceInfo on configuration change
  helper/crates/helper/src/devices.rs
Due: mypy

helper: Remove TCP, target_prefix, deduplicate constructors
  helper/crates/helper/src/connection.rs
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/main.rs
  helper/crates/helper/src/rpc.rs
Due: mypy

helper: Update for CliError removal from ykman
  helper/crates/helper/src/devices.rs
Due: mypy

Reformat
  lib/app/views/device_error_screen.dart
  lib/app/views/reset_dialog.dart
  lib/desktop/devices.dart
Due: none

helper: Remove update_children call, get() now refreshes devices
  helper/crates/helper/src/devices.rs
Due: mypy

helper: Use DeviceSource for unified device enumeration
  helper/crates/helper/src/devices.rs
  helper/shell.py
Due: mypy

licenses: Use cargo-about to generate helper license file
  assets/licenses/.gitignore
  assets/licenses/raw/.gitignore
  assets/licenses/raw/apache-2.0.txt
  assets/licenses/raw/python.txt
  build-helper.bat
  build-helper.sh
  helper/about.hbs
  helper/about.toml
  helper/crates/helper/Cargo.toml
  lib/desktop/init.dart
Due: mypy

shell.py: Add Unix domain socket transport support
  helper/shell.py
Due: mypy

helper: Use info().serial instead of serial()
  helper/crates/helper/src/management.rs
Due: mypy

Update imports to use canonical yubikit module paths
  helper/crates/helper/src/devices.rs
  helper/crates/helper/src/management.rs
Due: mypy

Update helper for yubikit SecretValue newtype API changes
  helper/crates/helper/src/fido.rs
  helper/crates/helper/src/management.rs
  helper/crates/helper/src/oath.rs
  helper/crates/helper/src/piv.rs
  helper/crates/helper/src/yubiotp.rs
Due: mypy

Include PID in device children data to fix phantom device entries
  helper/crates/helper/src/devices.rs
Due: mypy

fix(oath): verify current password
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: spotless-apply

fix(oath): apply unlockOnConnect for NFC only
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: spotless-apply

docs(oath): clarify onError unlockOnConnect comment
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: spotless-apply

fix(android): restart USB discovery on resume
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: spotless-apply

chore: bump build version
  lib/version.dart
  pubspec.yaml
Due: none

refactoring and more
  ios/AppContextManager.swift
  ios/DeviceInfoSerializer.swift
  ios/Fido/FidoManager.swift
  ios/Management/ManagementManager.swift
  ios/Oath/OathManager.swift
  ios/Piv/PivManager.swift
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/AppDelegate.swift
  ios/Runner/YubiKitChannel.swift
  ios/Yubikit/ConnectionHelper.swift
  ios/Yubikit/DeviceInfoHelper.swift
  ios/Yubikit/DeviceManager.swift
  lib/ios/fido/state.dart
  lib/ios/init.dart
  lib/ios/management/state.dart
  lib/ios/oath/state.dart
  lib/ios/piv/state.dart
  lib/ios/state.dart
  lib/main.dart
Due: none

Set date in NEWS
  NEWS
Due: none

chore: bump version to 7.4.1-dev.0
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Bump Python and deps
  .github/workflows/env
  helper/uv.lock
Due: mypy

add home page
  ios/Management/ManagementManager.swift
  lib/app/views/main_page.dart
  lib/core/state.dart
  lib/ios/init.dart
  lib/ios/management/state.dart
  lib/ios/state.dart
  lib/main.dart
Due: none

fix(macos): hide Dock icon when window is hidden
  lib/desktop/state.dart
Due: none

Bump flutter dependencies
  .github/workflows/env
  pubspec.lock
Due: none

Bump Python dependencies
  helper/uv.lock
Due: mypy

Lock cryptography to <49 on MacOS
  build-helper.sh
Due: none

Bump Podfile.lock
  macos/Podfile.lock
Due: none

chore: update Hebrew translation from Crowdin
  lib/l10n/app_he.arb
Due: arb-reformatter, update-android-strings

chore: bump android dependencies
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/gradle/wrapper/gradle-wrapper.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
Due: none

chore: bump GitHub actions to latest
  .github/workflows/android.yml
  .github/workflows/check-strings.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

chore: bump version to 7.4.1
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
Due: mypy

chore: update NEWS
  NEWS
Due: none

chore: bump cffi to 2.1.0
  helper/uv.lock
Due: mypy

fix(navigation): drawer double-tap black screen
  NEWS
  lib/app/views/navigation.dart
Due: none

chore: bump version to 7.4.2-dev.0
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

build: drop redundant R8 keep rules
  android/app/proguard-rules.pro
Due: none

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  spotless-apply: any of: \.kt$
  mypy: any of: helper/
