Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

fix naming style of method channel methods
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  lib/android/fido/state.dart
Due: none

don't dispose context for FIDO applications
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none

build yubikit from sources
  .github/workflows/android.yml
Due: none

Fix re-auth in PIV when using PIN-protected mgmt key
  lib/desktop/piv/state.dart
  lib/piv/models.dart
  lib/piv/models.freezed.dart
  lib/piv/views/actions.dart
Due: none

Add sliver scrolling functionality
  lib/app/views/app_page.dart
  lib/app/views/device_picker.dart
  lib/app/views/navigation.dart
  lib/oath/views/account_list.dart
  lib/oath/views/oath_screen.dart
  lib/theme.dart
  pubspec.lock
  pubspec.yaml
Due: none

Make sure OATH search field is always shown on `SearchIntent`
  lib/oath/views/oath_screen.dart
Due: none

Add `alternativeTitle` to `AppPage` and change border radius
  lib/app/views/action_list.dart
  lib/app/views/app_list_item.dart
  lib/app/views/app_page.dart
  lib/oath/views/oath_screen.dart
Due: none

Persist navigation expanded state
  lib/app/views/app_page.dart
Due: none

Use `NotificationListener` instead of ScrollController
  lib/app/views/app_page.dart
Due: none

Handle zero scroll offset
  lib/app/views/app_page.dart
Due: none

Remove unnecessary `setState`
  lib/app/views/app_page.dart
Due: none

Optimize handling of items scrolling under `AppBar`
  lib/app/views/app_page.dart
Due: none

Move scrolled under state to providers
  lib/app/views/app_page.dart
  lib/theme.dart
Due: none

Add scroll animation to sliver title and header
  lib/app/views/app_page.dart
Due: none

Use controllers to listen for visibility changes
  lib/app/views/app_page.dart
  lib/fido/views/webauthn_page.dart
Due: none

Show border when scrollables touch the `AppBar`
  lib/app/views/app_page.dart
Due: none

Remove lagging issue in expanded `NavigationContent`
  lib/app/views/app_page.dart
Due: none

Listen to `headerSliver` visibility
  lib/app/views/app_page.dart
Due: none

Fix scrolled under calculation
  lib/app/views/app_page.dart
Due: none

Disable autoscroll when using scrollbar
  lib/app/views/app_page.dart
  lib/home/views/home_screen.dart
Due: none

Avoid calling `setState` when unmounted
  lib/app/views/app_page.dart
Due: none

Add command to delete key
  helper/helper/piv.py
  lib/desktop/piv/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/state.dart
  lib/piv/views/actions.dart
  lib/piv/views/delete_certificate_dialog.dart
  lib/piv/views/piv_screen.dart
  lib/piv/views/slot_dialog.dart
Due: arb-reformatter, update-android-strings, mypy

Use one command for delete cert/key
  helper/helper/piv.py
  lib/desktop/piv/state.dart
  lib/l10n/app_en.arb
  lib/piv/state.dart
  lib/piv/views/delete_certificate_dialog.dart
Due: arb-reformatter, update-android-strings, mypy

Use CardMonitor to observe NFC card changes
  helper/helper/device.py
  lib/desktop/devices.dart
Due: mypy

Don't update OATH credentials list when null
  lib/desktop/oath/state.dart
Due: none

Make Wayland clipboard fix opt-in
  lib/desktop/state.dart
Due: none

Enforce minimum window width on Linux
  linux/my_application.cc
Due: none

unlock with updated PIN to update session state
  lib/android/fido/state.dart
Due: none

Update Linux permissions and Wayland workaround info
  README.adoc
Due: none

Add command to move key
  helper/helper/piv.py
  lib/desktop/piv/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/features.dart
  lib/piv/keys.dart
  lib/piv/models.dart
  lib/piv/state.dart
  lib/piv/views/actions.dart
  lib/piv/views/move_key_dialog.dart
  lib/piv/views/piv_screen.dart
  lib/widgets/choice_filter_chip.dart
Due: arb-reformatter, update-android-strings, mypy

only force context change for NFC keys
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none

Show retired slots
  lib/piv/views/actions.dart
  lib/piv/views/piv_screen.dart
Due: none

Add search field to `PasskeysScreen`
  lib/app/shortcuts.dart
  lib/fido/keys.dart
  lib/fido/state.dart
  lib/fido/views/passkeys_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/state.dart
  lib/oath/views/oath_screen.dart
  lib/piv/state.dart
Due: arb-reformatter, update-android-strings

Show number of passkeys used
  lib/fido/models.dart
  lib/fido/views/passkeys_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

reload session after unlock
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  lib/android/fido/state.dart
Due: none

Change to passkeys icon
  lib/fido/views/credential_dialog.dart
  lib/fido/views/passkeys_screen.dart
Due: none

Add `alternativeTitle` to `PasskeysScreen`
  lib/fido/views/passkeys_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/oath_screen.dart
Due: arb-reformatter, update-android-strings

Use one global key for search field
  lib/app/shortcuts.dart
  lib/app/views/keys.dart
  lib/fido/keys.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/keys.dart
  lib/oath/views/oath_screen.dart
Due: none

Dispose searchFocus and searchController
  lib/fido/views/passkeys_screen.dart
Due: none

Skip parsing of cert to avoid compression failures
  helper/helper/piv.py
  lib/desktop/piv/state.dart
  lib/piv/state.dart
  lib/piv/views/move_key_dialog.dart
Due: mypy
