Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

Show progressbar when icon pack is loading.
  lib/oath/icon_provider/icon_pack_dialog.dart
Due: none

Run `onCancel` when tapping outside dialog barrier.
  lib/widgets/responsive_dialog.dart
Due: none

Raise exception on CtapError during bio enrollment.
  helper/helper/fido.py
Due: mypy

Test of 3 column view.
  lib/app/shortcuts.dart
  lib/app/views/action_list.dart
  lib/app/views/app_list_item.dart
  lib/app/views/app_page.dart
  lib/app/views/settings_page.dart
  lib/fido/views/key_actions.dart
  lib/oath/views/key_actions.dart
  lib/otp/views/key_actions.dart
  lib/piv/views/key_actions.dart
  lib/piv/views/piv_screen.dart
  lib/widgets/file_drop_target.dart
  lib/widgets/list_title.dart
Due: none

Use builder in AppPage for child.
  lib/app/views/app_list_item.dart
  lib/app/views/app_page.dart
  lib/oath/views/account_view.dart
  lib/otp/views/otp_screen.dart
  lib/piv/views/piv_screen.dart
Due: none

Small UI tweaks.
  lib/app/views/app_list_item.dart
  lib/app/views/app_page.dart
Due: none

Fix duplicate `FileDropTarget`.
  lib/app/views/app_page.dart
Due: none

Add 3-column view for and FIDO, OTP.
  lib/fido/views/unlocked_page.dart
  lib/otp/views/otp_screen.dart
  lib/piv/views/piv_screen.dart
Due: none

Visual tweaks.
  lib/app/views/app_page.dart
  lib/fido/views/unlocked_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/otp/views/otp_screen.dart
  lib/piv/views/piv_screen.dart
Due: arb-reformatter, update-android-strings

Fix state of details column.
  lib/fido/views/unlocked_page.dart
  lib/otp/views/otp_screen.dart
  lib/piv/views/piv_screen.dart
Due: none

Remove child from AppPage (use builder instead).
  lib/app/views/app_page.dart
  lib/app/views/message_page.dart
  lib/fido/views/fido_screen.dart
  lib/fido/views/locked_page.dart
  lib/fido/views/unlocked_page.dart
  lib/oath/views/oath_screen.dart
Due: none

Separate "detailed view" from "key actions".
  lib/app/views/app_page.dart
  lib/fido/views/unlocked_page.dart
  lib/otp/views/otp_screen.dart
  lib/piv/views/piv_screen.dart
Due: none

Refactor Intents/Actions.
  lib/app/shortcuts.dart
  lib/app/views/app_list_item.dart
  lib/fido/views/actions.dart
  lib/fido/views/credential_dialog.dart
  lib/fido/views/fingerprint_dialog.dart
  lib/fido/views/unlocked_page.dart
  lib/oath/views/account_dialog.dart
  lib/oath/views/account_helper.dart
  lib/oath/views/account_list.dart
  lib/oath/views/account_view.dart
  lib/oath/views/actions.dart
  lib/oath/views/add_multi_account_page.dart
  lib/oath/views/delete_account_dialog.dart
  lib/oath/views/oath_screen.dart
  lib/oath/views/rename_account_dialog.dart
  lib/otp/views/actions.dart
  lib/otp/views/otp_screen.dart
  lib/otp/views/slot_dialog.dart
  lib/piv/views/actions.dart
  lib/piv/views/piv_screen.dart
  lib/piv/views/slot_dialog.dart
Due: none

Refactor Actions to use custom Widgets more.
  lib/app/app.dart
  lib/app/shortcuts.dart
  lib/app/views/app_list_item.dart
  lib/fido/views/actions.dart
  lib/fido/views/credential_dialog.dart
  lib/fido/views/fingerprint_dialog.dart
  lib/fido/views/unlocked_page.dart
  lib/oath/views/account_dialog.dart
  lib/oath/views/actions.dart
  lib/oath/views/oath_screen.dart
  lib/otp/views/actions.dart
  lib/otp/views/otp_screen.dart
  lib/otp/views/slot_dialog.dart
  lib/piv/views/actions.dart
  lib/piv/views/piv_screen.dart
  lib/piv/views/slot_dialog.dart
Due: none

Focus on clicked AppListItem.
  lib/app/views/app_list_item.dart
Due: none

changed colors for text objects, corrected bold fonts, buttons, paddings, dialog overlays and minor fixes here and there
  assets/fonts/Roboto-Bold.ttf
  lib/app/message.dart
  lib/app/views/app_failure_page.dart
  lib/app/views/device_error_screen.dart
  lib/app/views/message_page.dart
  lib/fido/views/locked_page.dart
  lib/fido/views/reset_dialog.dart
  lib/oath/views/account_helper.dart
  lib/oath/views/account_view.dart
  lib/oath/views/add_multi_account_page.dart
  lib/oath/views/reset_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/piv/views/reset_dialog.dart
  lib/theme.dart
  lib/widgets/responsive_dialog.dart
  pubspec.yaml
Due: none

improved TextStyle theme settings for ListItem
  lib/oath/views/account_helper.dart
  lib/theme.dart
Due: none

changed textTheme.tall to textTheme.englishLike2021
  lib/theme.dart
Due: none

Bump Flutter dependencies.
  .github/workflows/env
  pubspec.lock
Due: none

Bump Python dependencies.
  helper/poetry.lock
Due: mypy

MacOS: Fix helper build.
  build-helper.sh
Due: none

Update Podfile.lock.
  macos/Podfile.lock
Due: none

customize color and display name
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  lib/android/app_methods.dart
  lib/android/init.dart
  lib/app/app.dart
  lib/app/key_customization.dart
  lib/app/models.dart
  lib/app/shortcuts.dart
  lib/app/state.dart
  lib/app/views/customize_page.dart
  lib/app/views/device_avatar.dart
  lib/app/views/device_picker.dart
  lib/app/views/navigation.dart
  lib/desktop/state.dart
Due: none

react to key change
  lib/android/state.dart
  lib/app/state.dart
  lib/app/views/customize_page.dart
  lib/desktop/state.dart
Due: none

preview selected color in customization dialog
  lib/app/state.dart
  lib/app/views/customize_page.dart
Due: none

use dialog
  lib/app/state.dart
  lib/app/views/customize_page.dart
  lib/app/views/key_customization_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

transparent background for non-active devices
  lib/app/views/device_picker.dart
Due: none

nfcIcon background in picker is transparent
  lib/app/views/device_avatar.dart
Due: none

device picker updates
  lib/app/views/device_picker.dart
Due: none

wrap device picker tile in local theme
  lib/app/views/device_picker.dart
Due: none

move customize action to picker menu
  lib/app/views/device_picker.dart
  lib/app/views/navigation.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

minimize changes to main
  lib/android/init.dart
  lib/app/views/device_avatar.dart
  lib/app/views/device_picker.dart
  lib/app/views/key_customization_dialog.dart
  lib/app/views/navigation.dart
  lib/desktop/state.dart
Due: none

Refactor Applications.
  lib/android/init.dart
  lib/app/models.dart
  lib/app/state.dart
  lib/app/views/keys.dart
  lib/app/views/main_page.dart
  lib/app/views/navigation.dart
  lib/desktop/init.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/management/models.dart
  lib/management/views/management_screen.dart
Due: arb-reformatter, update-android-strings

Fix rename OATH account error message.
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/rename_account_dialog.dart
Due: arb-reformatter, update-android-strings

Add universal factory reset.
  lib/app/views/navigation.dart
  lib/app/views/reset_dialog.dart
Due: none

Remove individual reset dialogs.
  lib/fido/keys.dart
  lib/fido/views/key_actions.dart
  lib/fido/views/reset_dialog.dart
  lib/oath/keys.dart
  lib/oath/views/key_actions.dart
  lib/oath/views/reset_dialog.dart
  lib/piv/keys.dart
  lib/piv/views/key_actions.dart
  lib/piv/views/reset_dialog.dart
Due: none

Change `AppPage` view.
  lib/app/views/app_failure_page.dart
  lib/app/views/app_page.dart
  lib/app/views/message_page.dart
  lib/fido/views/fido_screen.dart
  lib/fido/views/locked_page.dart
  lib/fido/views/unlocked_page.dart
  lib/oath/views/account_list.dart
  lib/oath/views/oath_screen.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/otp_screen.dart
  lib/piv/views/piv_screen.dart
Due: none

Add CTA chips to OATH and WebAuthn, and refactor message page.
  lib/app/views/app_failure_page.dart
  lib/app/views/app_page.dart
  lib/app/views/device_error_screen.dart
  lib/app/views/main_page.dart
  lib/app/views/message_page.dart
  lib/desktop/init.dart
  lib/fido/views/fido_screen.dart
  lib/fido/views/locked_page.dart
  lib/fido/views/unlocked_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/oath_screen.dart
  lib/otp/views/otp_screen.dart
  lib/piv/views/piv_screen.dart
Due: arb-reformatter, update-android-strings

update context menu
  lib/app/key_customization.dart
  lib/app/shortcuts.dart
  lib/app/views/device_picker.dart
  lib/app/views/key_customization_dialog.dart
Due: none

update feature file structure
  lib/app/key_customization/key_customization.dart
  lib/app/key_customization/models.dart
  lib/app/key_customization/state.dart
  lib/app/key_customization/views/key_customization_dialog.dart
  lib/app/models.dart
  lib/app/state.dart
  lib/app/views/device_picker.dart
Due: none
