Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

Don't show version and image for unknown devices
  lib/home/views/home_screen.dart
Due: none

Remove minHeight constraint
  lib/desktop/window_manager_helper/defaults.dart
  linux/my_application.cc
Due: mypy

Log error when unable to open SmartCardConnection
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/DeviceInfoHelper.kt
Due: none

Remove icon size scaling in `IconPackDialog`
  lib/oath/icon_provider/icon_pack_dialog.dart
Due: none

Win Test with helper
  .github/workflows/windows.yml
Due: none

Test deps
  pubspec.lock
Due: none

Misc UI fixes
  lib/fido/views/credential_dialog.dart
  lib/fido/views/fingerprint_dialog.dart
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/account_dialog.dart
  lib/oath/views/oath_screen.dart
  lib/otp/views/otp_screen.dart
  lib/otp/views/slot_dialog.dart
  lib/piv/views/piv_screen.dart
  lib/piv/views/slot_dialog.dart
Due: none

updated french and japanese translations
  crowdin.yaml
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
Due: arb-reformatter, update-android-strings

updated japanese to 100 percent
  lib/l10n/app_ja.arb
Due: arb-reformatter, update-android-strings

Bump Python dependencies
  .github/workflows/env
  helper/poetry.lock
Due: mypy

Apply formatting rules to strings
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
Due: arb-reformatter, update-android-strings

Update README
  README.adoc
  doc/Development.adoc
Due: none

Bump version in build files
  helper/version_info.txt
  lib/version.dart
  pubspec.lock
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Bump only Python
  .github/workflows/env
Due: none

Rebuild without cache
  helper/cache
Due: mypy

Consider using preferred locales
  android/app/src/main/kotlin/com/yubico/authenticator/NdefActivity.kt
Due: none

always build helper on CI
  .github/workflows/macos.yml
Due: none

Only build helper
  .github/workflows/android.yml
  .github/workflows/check-strings.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/env
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

force python 3.12.2
  .github/workflows/env
Due: none

tar helper
  .github/workflows/macos.yml
Due: none

fix for APIs < N
  android/app/src/main/kotlin/com/yubico/authenticator/NdefActivity.kt
Due: none

Don't build zxing-cpp
  build-helper.sh
Due: none

Remove unneeded variable
  build-helper.sh
Due: none

Use prebuild wheel for zxing-cpp
  build-helper.sh
Due: none

Update NEWS
  NEWS
Due: none

Bump version number
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Change UI for pinned OATH accounts
  lib/app/views/app_list_item.dart
  lib/oath/views/account_list.dart
  lib/oath/views/account_view.dart
Due: none

Change breakpoints for pinned OATH accounts
  lib/oath/views/account_helper.dart
  lib/oath/views/account_list.dart
Due: none

Change position and color of pinned icon
  lib/oath/views/account_view.dart
Due: none

Remove unused `pushPinStrokeIcon`
  lib/widgets/custom_icons.dart
Due: none

Change OATH pinned icon color
  lib/oath/views/account_helper.dart
  lib/oath/views/account_view.dart
  pubspec.lock
  pubspec.yaml
Due: none

Remove focus when clicking on dead area
  lib/app/views/app_page.dart
Due: none

Remove unpin icon
  lib/oath/views/account_view.dart
Due: none

Remove animation duration on popup menus
  lib/app/views/action_popup_menu.dart
  lib/app/views/device_picker.dart
  lib/widgets/choice_filter_chip.dart
Due: none

Bump material symbols and change PIV icon
  lib/app/views/navigation.dart
  lib/app/views/reset_dialog.dart
  pubspec.lock
  pubspec.yaml
Due: none

bump android deps
  android/app/build.gradle
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
Due: none

a11y fixes
  lib/app/views/app_page.dart
  lib/app/views/navigation.dart
Due: none

More a11y fixes
  lib/app/views/device_picker.dart
  lib/app/views/navigation.dart
Due: none

Make sure `AppBar` drawer uses `Symbols.menu`
  lib/app/views/app_page.dart
Due: none

read device info on initial NFC discovery
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none
