Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: local
  hooks:
    - id: flutter-l10n-gen
      name: generate-l10n
      language: system
      entry: flutter gen-l10n
      pass_filenames: false
      require_serial: true
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      exclude: lib/generated
      require_serial: true
    - id: flutter-analyze
      exclude: lib/generated
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

bump android deps
  android/build.gradle
Due: none

don't allow toggle to OTP only mode on Android
  lib/management/views/management_screen.dart
Due: none

use updated file_picker
  pubspec.lock
  pubspec.yaml
Due: none

add required entitlements
  macos/Runner/DebugProfile.entitlements
  macos/Runner/Release.entitlements
Due: none

Bump ykman to 5.6.1
  helper/poetry.lock
  helper/pyproject.toml
Due: mypy

Programmatically open info popup menu
  lib/widgets/info_popup_button.dart
Due: none

use FormFactor for BIO detection
  android/app/src/main/kotlin/com/yubico/authenticator/MainViewModel.kt
Due: none

replace AppContext.supportsAny
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/Util.kt
Due: none

fix UsbIconProgressBar
  lib/android/overlay/nfc/views/nfc_overlay_icons.dart
Due: none

use file_picker 9.2.1
  pubspec.lock
  pubspec.yaml
Due: none

Set versions
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Remove unsupported Windows versions
  helper/authenticator-helper.exe.manifest
Due: mypy

Update strings
  lib/l10n/app_de.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

fix plurals in localizations
  lib/l10n/app_de.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
Due: arb-reformatter, update-android-strings

Disable exclusive access for now
  lib/desktop/rpc.dart
Due: none

Add shortURLs for custom-icons and crowdin
  lib/app/icon_provider/icon_pack_dialog.dart
  lib/app/views/settings_page.dart
Due: none

updated localizations
  lib/l10n/app_de.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Use latest Windows signing cert
  resources/win/release-win.ps1
Due: none

remove workarounds
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/DeviceInfoHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/Workarounds.kt
Due: none

Update macOS supported version
  README.adoc
Due: none

Update NEWS
  NEWS
Due: none

Bump version post release
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Fix exception during setting incompatible FIDO PIN
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

fix crash on app recreation
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none

bump app version to 7.2.1
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
Due: mypy

update NEWS
  NEWS
Due: none

bump version
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Fix PIN condition
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

Bump version to 7.2.2
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

bump version to 7.2.3-dev.0
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

linux arm64 config file
  .github/workflows/linux-arm64.yml
Due: none

edit linux-arm64.yml
  .github/workflows/linux-arm64.yml
Due: none

mask mode value
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/Workarounds.kt
Due: none

Use symbolic link
  android/app/src/main/play/listings/en-US/graphics/icon/icon.png
Due: none

setting up venv, removing distutils
  .github/workflows/linux-arm64.yml
Due: none

verifying buildscript with deadsnakes python version
  .github/workflows/env
Due: none

Setup scribe
  .github/scribe-sign.yaml
  .github/workflows/macos.yml
Due: none
