Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: local
  hooks:
    - id: flutter-l10n-gen
      name: generate-l10n
      language: system
      entry: flutter gen-l10n
      pass_filenames: false
      require_serial: true
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      exclude: lib/generated
      require_serial: true
    - id: flutter-analyze
      exclude: lib/generated
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

optimizing flakiness and some bootstrappnig
  integration_test/regression_test_desktop.dart
Due: none

changing languages for languages in language changing tests
  integration_test/regression_test_desktop.dart
Due: none

Move root `GestureDetector` to `AppPage`
  lib/app/app.dart
  lib/app/views/app_page.dart
Due: none

Add shortcuts help dialog
  lib/app/shortcuts.dart
  lib/app/shortcuts_dialog.dart
  lib/home/views/key_actions.dart
  lib/widgets/app_text_field.dart
  lib/widgets/responsive_dialog.dart
Due: none

Localize intent descriptions
  lib/app/shortcuts.dart
  lib/app/shortcuts_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Add shortcut button in about page
  lib/about_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

bump yubikey-manager
  helper/poetry.lock
  helper/pyproject.toml
Due: mypy

Reformat arb files
  lib/app/shortcuts.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_zh.arb
Due: arb-reformatter, update-android-strings

apply flutter PR#154522 to correct icon in wayland
  linux/my_application.cc
Due: none

Add missing l10n strings
  lib/app/shortcuts_dialog.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
Due: arb-reformatter, update-android-strings

Cleanup
  .github/workflows/windows.yml
Due: none

Linux: fix the tray icon when running in a sandbox
  lib/desktop/systray.dart
Due: none

Add if statements
  .github/workflows/windows.yml
Due: none

Add shortcuts for toggling navigation and menu bar
  lib/app/shortcuts.dart
  lib/app/state.dart
  lib/app/views/app_page.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
Due: arb-reformatter, update-android-strings

test development team
  macos/Runner.xcodeproj/project.pbxproj
  pubspec.yaml
Due: none

testing new fancy windows arm64 runners
  .github/workflows/windows-arm64.yml
Due: none

spelling
  .github/workflows/windows-arm64.yml
Due: none

Change CODE_SIGN_IDENTITY to "Sign to run locally"
  macos/Runner.xcodeproj/project.pbxproj
Due: none

Remove product image in Home page
  lib/home/views/home_screen.dart
Due: none

Change styling of info popup
  lib/app/icon_provider/icon_pack_dialog.dart
  lib/app/l10n_utils.dart
  lib/app/views/settings_page.dart
  lib/oath/views/add_account_page.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/widgets/basic_dialog.dart
  lib/widgets/info_popup_button.dart
Due: none

Smaller change
  .github/workflows/windows.yml
Due: none

Bump flutter version and deps
  .github/workflows/env
  pubspec.lock
  pubspec.yaml
Due: none

Run `flutter pub get` before pre-commit hooks
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

Setup Scribe
  .github/scribe-sign-exe.yml
  .github/scribe-sign-gpg.yml
  .github/scribe-sign-msi.yml
  .github/workflows/windows.yml
Due: none

Use regex in if statement
  .github/workflows/windows.yml
Due: none

Use regex to check tag
  .github/workflows/windows.yml
Due: none

Fix regex
  .github/workflows/windows.yml
Due: none

Show version qualifier
  helper/helper/device.py
  helper/poetry.lock
  helper/pyproject.toml
  lib/app/views/device_picker.dart
  lib/home/views/home_screen.dart
  lib/management/models.dart
  lib/management/models.freezed.dart
  lib/management/models.g.dart
Due: mypy

anroid impl
  .github/workflows/android.yml
  android/app/src/main/kotlin/com/yubico/authenticator/device/Info.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/UnknownDevice.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/VersionQualifier.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/SkyHelper.kt
  android/app/src/test/java/com/yubico/authenticator/device/DeviceInfoMock.kt
  android/app/src/test/java/com/yubico/authenticator/device/InfoTest.kt
  android/build.gradle
Due: none

use yubikit 2.8.1 rc branch
  .github/workflows/android.yml
  android/build.gradle
Due: none

fix yubikit-android ref
  .github/workflows/android.yml
Due: none
