Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

Don't use _rounded icons
  lib/about_page.dart
  lib/app/key_customization/views/key_customization_dialog.dart
  lib/oath/views/account_helper.dart
Due: none

handle tag lost exception
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

Add Home page
  lib/app/features.dart
  lib/app/key_customization/models.dart
  lib/app/key_customization/models.freezed.dart
  lib/app/key_customization/state.dart
  lib/app/models.dart
  lib/app/models.freezed.dart
  lib/app/models.g.dart
  lib/app/state.dart
  lib/app/views/app_page.dart
  lib/app/views/device_error_screen.dart
  lib/app/views/device_picker.dart
  lib/app/views/keys.dart
  lib/app/views/main_page.dart
  lib/app/views/navigation.dart
  lib/home/views/home_message_page.dart
  lib/home/views/home_screen.dart
  lib/home/views/key_actions.dart
  lib/home/views/manage_label_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Remember last used app
  android/app/src/main/kotlin/com/yubico/authenticator/MainViewModel.kt
  lib/android/init.dart
  lib/android/state.dart
  lib/app/state.dart
  lib/app/views/navigation.dart
  lib/home/views/home_message_page.dart
Due: none

Make sure `title` stays at the top in `AppPage`
  lib/app/views/app_page.dart
  lib/app/views/navigation.dart
Due: none

UI enchancements for key customization
  lib/app/state.dart
  lib/home/views/home_screen.dart
  lib/home/views/manage_label_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/widgets/choice_filter_chip.dart
Due: arb-reformatter, update-android-strings

Ensure consistent padding from device name
  lib/app/key_customization/views/key_customization_dialog.dart
  lib/home/views/home_screen.dart
Due: none

Use symbols in Home screen
  lib/home/views/home_screen.dart
  lib/home/views/key_actions.dart
  lib/home/views/manage_label_dialog.dart
Due: none

Use "badge" icon
  lib/app/views/navigation.dart
  lib/app/views/reset_dialog.dart
  lib/piv/views/piv_screen.dart
Due: none

Refactor Application enum
  lib/android/init.dart
  lib/android/state.dart
  lib/app/features.dart
  lib/app/models.dart
  lib/app/state.dart
  lib/app/views/app_failure_page.dart
  lib/app/views/device_error_screen.dart
  lib/app/views/main_page.dart
  lib/app/views/navigation.dart
  lib/fido/views/passkeys_screen.dart
  lib/fido/views/webauthn_page.dart
  lib/home/views/key_actions.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Cache FIDO2 PIN when switching between other apps
  lib/desktop/fido/state.dart
Due: none

PIV PIN improvements
  lib/piv/state.dart
  lib/piv/views/actions.dart
  lib/piv/views/key_actions.dart
  lib/piv/views/manage_key_dialog.dart
Due: none

Improve PIN handling consistency between views
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: none

Only allow shorter FIDO PIN when changing PIN, if forcePinChange
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
Due: none

Set autofocus on field
  lib/otp/views/configure_hotp_dialog.dart
Due: none

Add warning to confirm fields when values don't match
  lib/fido/views/pin_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: arb-reformatter, update-android-strings

Add init() to AppTextFields
  lib/fido/views/add_fingerprint_dialog.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/fido/views/rename_fingerprint_dialog.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/oath_screen.dart
  lib/oath/views/rename_account_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
  lib/piv/views/pin_dialog.dart
  lib/widgets/app_text_field.dart
  lib/widgets/app_text_form_field.dart
Due: none

Add lint rule for calling init() after creation.
  lib/widgets/app_text_field.dart
  lib/widgets/app_text_form_field.dart
  lint/lib/lint.dart
Due: none

add Message Page for Not Initialized state
  lib/app/views/message_page_not_initialized.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/oath_screen.dart
Due: none

add support for Home page in Android
  lib/android/init.dart
  lib/app/views/navigation.dart
Due: none

Pop dialogs before opening `key_actions` in Home
  lib/home/views/key_actions.dart
Due: none

fix correct value for permissionsRpID
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
Due: none

Open show/hide devices menu when right clicking on `DevicePickerContent`
  lib/app/views/device_picker.dart
  lib/app/views/navigation.dart
Due: none

Don't use hex validation for PIN
  lib/piv/views/manage_key_dialog.dart
Due: none

if old pin exists, replace its value with zeros
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoPinStore.kt
Due: none

remove extension method from Map<>
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/Session.kt
Due: none

Count bytes for PIV PINs
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: none

Remove dead code
  lib/fido/views/pin_dialog.dart
Due: none

examples
  android/app/src/main/kotlin/com/yubico/authenticator/ChannelHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/JsonSerializer.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoViewModel.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/Session.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathViewModel.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/data/Session.kt
  lib/android/fido/state.dart
  lib/android/oath/state.dart
  lib/app/error_data_empty.dart
  lib/desktop/fido/state.dart
  lib/fido/models.dart
  lib/fido/models.freezed.dart
  lib/fido/models.g.dart
  lib/fido/state.dart
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/models.dart
  lib/oath/models.freezed.dart
  lib/oath/models.g.dart
  lib/oath/views/oath_screen.dart
Due: none

use ViewModelData interface
  android/app/src/main/kotlin/com/yubico/authenticator/ChannelHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoViewModel.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/Session.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathViewModel.kt
  lib/android/fido/state.dart
  lib/android/oath/state.dart
  lib/app/error_data_empty.dart
  lib/desktop/fido/state.dart
  lib/exception/no_data_exception.dart
  lib/fido/state.dart
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/oath_screen.dart
Due: none

update unit tests
  android/app/src/test/java/com/yubico/authenticator/oath/ModelTest.kt
  android/app/src/test/java/com/yubico/authenticator/oath/SerializationTest.kt
Due: none

revert fido credential provider changes
  lib/android/fido/state.dart
  lib/desktop/fido/state.dart
  lib/fido/state.dart
  lib/fido/views/passkeys_screen.dart
Due: none

section switching and handling of IO exceptions
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  lib/android/fido/state.dart
  lib/android/init.dart
  lib/android/state.dart
  lib/app/state.dart
  lib/desktop/init.dart
  lib/desktop/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

fix srting resource type
  lib/android/fido/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

fix string resource
  lib/android/tap_request_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

fix Android first-showing screen
  lib/app/views/main_page.dart
  lib/home/views/home_message_page.dart
Due: none

ignore NFC devices without supported connection
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
Due: none

disable FIDO2 on Chromebook
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  lib/android/app_methods.dart
  lib/android/init.dart
  lib/android/state.dart
Due: none

Switching to Home keeps existing app context
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none

Avoid re-reading credentials when not needed
  helper/helper/fido.py
Due: mypy
