Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: python3 --version && python3.12 --version && update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

Fix typo
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

Fix styling of chips
  lib/about_page.dart
  lib/desktop/init.dart
  lib/home/views/home_screen.dart
  lib/management/views/management_screen.dart
  lib/oath/icon_provider/icon_pack_dialog.dart
  lib/oath/views/add_account_dialog.dart
  lib/oath/views/add_account_page.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/theme.dart
  lib/widgets/choice_filter_chip.dart
Due: none

Fix deprecated use of background color
  lib/app/views/app_page.dart
  lib/app/views/fs_dialog.dart
  lib/oath/views/account_view.dart
  lib/theme.dart
Due: none

bump gradle in QR scanner plugin
  android/flutter_plugins/qrscanner_zxing/android/gradle/wrapper/gradle-wrapper.properties
  android/flutter_plugins/qrscanner_zxing/example/android/gradle/wrapper/gradle-wrapper.properties
Due: none

Bump deps for lint
  lint/pubspec.lock
Due: none

Bump pubspec.yaml in zxing plugin.
  android/flutter_plugins/qrscanner_zxing/example/pubspec.lock
Due: none

Ignore deprecations for lint
  lint/lib/lint.dart
  lint/pubspec.lock
  lint/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: none

Bump Podfile.lock
  macos/Podfile.lock
Due: none

Use SCP11 when possible over NFC
  helper/helper/device.py
  helper/helper/management.py
  helper/helper/oath.py
  helper/helper/piv.py
  helper/helper/yubiotp.py
Due: mypy

Change UI for pinned OATH accounts
  lib/app/views/app_list_item.dart
  lib/oath/views/account_list.dart
  lib/oath/views/account_view.dart
Due: none

Change breakpoints for pinned OATH accounts
  lib/oath/views/account_helper.dart
  lib/oath/views/account_list.dart
Due: none

Change position and color of pinned icon
  lib/oath/views/account_view.dart
Due: none

Remove unused `pushPinStrokeIcon`
  lib/widgets/custom_icons.dart
Due: none

Change OATH pinned icon color
  lib/oath/views/account_helper.dart
  lib/oath/views/account_view.dart
  pubspec.yaml
Due: none

Remove focus when clicking on dead area
  lib/app/views/app_page.dart
Due: none

Remove unpin icon
  lib/oath/views/account_view.dart
Due: none

Add different views for OATH
  lib/oath/state.dart
  lib/oath/views/account_list.dart
  lib/oath/views/account_view.dart
  lib/oath/views/oath_screen.dart
  lib/widgets/flex_box.dart
Due: none

Add layout tooltips
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/oath_screen.dart
Due: arb-reformatter, update-android-strings

Hide mixed view if no pinned accounts
  lib/oath/views/oath_screen.dart
Due: none

Persist layout settings
  lib/oath/state.dart
  lib/oath/views/oath_screen.dart
Due: none

Hide layout buttons on focus
  lib/oath/views/oath_screen.dart
Due: none

Add toggle sidebar
  lib/app/views/app_page.dart
  lib/app/views/keys.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/account_list.dart
  lib/widgets/flex_box.dart
Due: arb-reformatter, update-android-strings

Add grid/list view to passkeys
  lib/core/state.dart
  lib/fido/state.dart
  lib/fido/views/passkeys_screen.dart
  lib/oath/state.dart
  lib/oath/views/account_list.dart
  lib/oath/views/oath_screen.dart
  lib/widgets/flex_box.dart
Due: none

Persist navigation and sidebar visibility state
  lib/app/views/app_page.dart
Due: none

Change passkeys gridview breakpoints
  lib/fido/views/passkeys_screen.dart
  lib/widgets/flex_box.dart
Due: none

Change position of toggle sidebar icon
  lib/app/views/app_page.dart
Due: none

Don't show layout options on narrow screens
  lib/fido/views/passkeys_screen.dart
Due: none

Add dropdown layout selection for small screens
  lib/core/state.dart
  lib/fido/views/passkeys_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/models.dart
  lib/oath/state.dart
  lib/oath/views/account_list.dart
  lib/oath/views/oath_screen.dart
  lib/widgets/flex_box.dart
Due: arb-reformatter, update-android-strings

Make sure OATH layout changes correctly when mixed layout is not applicable
  lib/fido/views/passkeys_screen.dart
  lib/oath/state.dart
  lib/oath/views/oath_screen.dart
Due: none

Build yubikit-android from branch
  .github/workflows/android.yml
  android/build.gradle
Due: none

Remove layout divider
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/oath_screen.dart
  lib/widgets/flex_box.dart
Due: none

Add yubikit-android build to codeql workflow
  .github/workflows/codeql-analysis.yml
Due: none

Add basic SCP11b android support
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/DeviceManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: none

Add label for pinned and non-pinned OATH accounts
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/oath/views/account_list.dart
  lib/oath/views/oath_screen.dart
Due: arb-reformatter, update-android-strings

improve manage password dialog
  lib/oath/views/manage_password_dialog.dart
Due: none

improve FIDO set/change PIN
  lib/fido/views/pin_dialog.dart
Due: none

improved fingerprint views
  lib/fido/views/add_fingerprint_dialog.dart
  lib/fido/views/rename_fingerprint_dialog.dart
Due: none

Improve SCP behavior on desktop, and fix NFC state
  helper/helper/device.py
Due: mypy

Clear cache of DeviceInfo when needed
  helper/helper/__init__.py
  helper/helper/base.py
  helper/helper/device.py
  helper/helper/fido.py
  helper/helper/management.py
  helper/helper/oath.py
  helper/helper/piv.py
Due: mypy

Expose FIPS approved and ensure DeviceInfo is refreshed
  lib/app/models.g.dart
  lib/desktop/devices.dart
  lib/fido/models.g.dart
  lib/management/models.dart
  lib/management/models.freezed.dart
  lib/management/models.g.dart
  lib/oath/models.g.dart
  lib/oath/views/manage_password_dialog.dart
  lib/piv/models.g.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
