Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: python3 --version && python3.12 --version && update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

Bump `pyinstaller` in helper
  helper/poetry.lock
  helper/pyproject.toml
Due: mypy

Bump Python to 3.13.1
  .github/workflows/env
Due: none

macOS: install and upgrade `pip` before building helper
  .github/workflows/macos.yml
Due: none

Bump platform when building Pillow on macOS
  build-helper.sh
Due: none

Remove unused widget
  lib/widgets/info_popup.dart
Due: none

Remove `AppTextFormField`
  lib/fido/views/add_fingerprint_dialog.dart
  lib/fido/views/passkeys_screen.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/rename_fingerprint_dialog.dart
  lib/home/views/manage_label_dialog.dart
  lib/oath/views/oath_screen.dart
  lib/oath/views/rename_account_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/widgets/app_text_form_field.dart
  lint/lib/lint.dart
  lint/pubspec.lock
Due: none

target sdk 35
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
Due: none

fix UnsafeIntentLaunchViolation
  android/flutter_plugins/qrscanner_zxing/android/src/main/kotlin/com/yubico/authenticator/flutter_plugins/qrscanner_zxing/QRScannerView.kt
Due: none

Use `PinnedHeaderSliver` instead of `SliverPersistentHeader`
  lib/app/views/app_page.dart
Due: none

fix window insets
  lib/app/views/app_page.dart
Due: none

Add missing calls to `dispose()`
  lib/fido/views/pin_dialog.dart
  lib/fido/views/rename_fingerprint_dialog.dart
  lib/home/views/manage_label_dialog.dart
Due: none

android
  android/app/build.gradle
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
Due: none

bump flutter deps & rebuild models
  lib/app/models.g.dart
  lib/otp/models.g.dart
  pubspec.lock
  pubspec.yaml
Due: none

replace reportErrorForNode with atNode
  lint/lib/lint.dart
Due: none

update podfile
  macos/Podfile.lock
Due: none

bump flutter_riverpod and fix deprecations
  lib/android/overlay/nfc/nfc_event_notifier.dart
  lib/android/state.dart
  lib/android/window_state_provider.dart
  pubspec.lock
  pubspec.yaml
Due: none

more dependecy updates
  android/app/build.gradle
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
Due: none

Remove trailing padding from OATH secret
  lib/oath/views/add_account_page.dart
Due: none

Remove intermediate OATH dialog and add QR animation
  lib/oath/views/add_account_dialog.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/utils.dart
Due: none

Add info popup button
  lib/oath/views/add_account_page.dart
  lib/widgets/info_popup_button.dart
  lib/widgets/responsive_dialog.dart
Due: none

Disable `PopupMenuItem` in customize color menu
  lib/home/views/home_screen.dart
Due: none

Use `FilterChip` for scan QR code
  lib/oath/views/add_account_page.dart
Due: none

Remove error text from chip
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/oath/views/add_account_page.dart
Due: arb-reformatter, update-android-strings

Use `ActionChip` instead of `FilterChip`
  lib/oath/views/add_account_page.dart
Due: none

Reset `_dataLoaded` and options
  lib/oath/views/add_account_page.dart
Due: none

Reset period
  lib/oath/views/add_account_page.dart
Due: none

Reset digits and period values
  lib/oath/views/add_account_page.dart
Due: none

Refactor handling of QR data
  lib/oath/views/add_account_page.dart
  lib/widgets/responsive_dialog.dart
Due: none

Change add account description
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

Update generate key dialog UI
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/views/generate_key_dialog.dart
  lib/widgets/info_popup_button.dart
Due: arb-reformatter, update-android-strings

Fix info icon background and size
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/views/generate_key_dialog.dart
  lib/widgets/info_popup_button.dart
Due: arb-reformatter, update-android-strings

Add tooltips to PIV option chips
  lib/piv/views/generate_key_dialog.dart
Due: none

Update manage PIN/PUK dialog UI
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/views/manage_pin_puk_dialog.dart
Due: arb-reformatter, update-android-strings

Remove unuseful texts
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

Update import file dialog UI
  lib/l10n/app_en.arb
  lib/piv/views/import_file_dialog.dart
Due: arb-reformatter, update-android-strings

Add tooltip and info text to allow fingerprints
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
Due: arb-reformatter, update-android-strings

Ensure PIN icons are consistent
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

Rename and remove unused strings
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/views/manage_pin_puk_dialog.dart
Due: arb-reformatter, update-android-strings

Update FIDO PIN dialog UI
  lib/fido/views/pin_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
