Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: local
  hooks:
    - id: flutter-l10n-gen
      name: generate-l10n
      language: system
      entry: flutter gen-l10n
      pass_filenames: false
      require_serial: true
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      exclude: lib/generated
      require_serial: true
    - id: flutter-analyze
      exclude: lib/generated
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

Bump python dependencies
  helper/poetry.lock
  helper/pyproject.toml
Due: mypy

Bump yubikit-android
  .github/workflows/android.yml
  android/build.gradle
Due: none

Bump flutter version and deps
  .github/workflows/env
  pubspec.lock
  pubspec.yaml
Due: none

Run `flutter pub get` before pre-commit hooks
  .github/workflows/android.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

Cleanup
  .github/workflows/windows.yml
Due: none

use 3.32.1
  .github/workflows/env
Due: none

adjust jvmargs
  android/gradle.properties
Due: none

Run `flutter pub get` from project root
  .github/workflows/codeql-analysis.yml
Due: none

bump dependencies
  android/app/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/settings.gradle
  macos/Podfile.lock
  pubspec.lock
  pubspec.yaml
Due: none

Remove unused strings
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
Due: arb-reformatter, update-android-strings

remove workarounds
  android/app/src/main/kotlin/com/yubico/authenticator/management/ManagementManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/DeviceInfoHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/Workarounds.kt
Due: none

variant 1
  integration_test/screenshot_tool/get_screenshots.dart
  lib/about_page.dart
  lib/app/views/keys.dart
  pubspec.lock
  pubspec.yaml
Due: none

webauthn screenshots
  integration_test/screenshot_tool/get_screenshots.dart
  lib/app/views/keys.dart
  lib/widgets/responsive_dialog.dart
Due: none

Add On: pr
  .github/workflows/windows.yml
Due: none

Bump dependencies
  android/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/settings.gradle
  helper/poetry.lock
  helper/shell.py
  pubspec.lock
  pubspec.yaml
Due: mypy

add missing type annotations
  lib/android/qr_scanner/qr_scanner_provider.dart
  lib/app/icon_provider/icon_pack_icon.dart
  lib/app/state.dart
  lib/desktop/oath/state.dart
  lib/desktop/state.dart
  lib/fido/views/rename_fingerprint_dialog.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

return Future from async methods
  lib/desktop/oath/state.dart
  lib/desktop/state.dart
  lib/fido/views/rename_fingerprint_dialog.dart
  lib/oath/views/manage_password_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

use unwaited
  lib/desktop/oath/state.dart
Due: none

Change threshold for auto selection of language
  lib/app/state.dart
  lib/app/views/settings_page.dart
Due: none

Pull new translations from crowdin
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh_TW/strings.xml
  assets/l10n/status.json
  check_strings.py
  crowdin.yaml
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  update_android_strings.py
Due: arb-reformatter, update-android-strings

Handle region code in `update_android_strings.py`
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values-zh_TW/strings.xml
  update_android_strings.py
Due: none

Update `app_sv.arb`
  lib/l10n/app_sv.arb
Due: arb-reformatter, update-android-strings

testing with publicly available runner
  .github/workflows/linux-arm64.yml
Due: none

Update NEWS and bump version
  NEWS
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
Due: mypy

add translations note to NEWS
  NEWS
Due: none

Fix FIDO reset over NFC
  helper/helper/device.py
  helper/helper/fido.py
Due: mypy

Use Python 3.13.4
  .github/workflows/env
  NEWS
Due: none

Bump python dependencies
  helper/poetry.lock
Due: mypy

Pull new translations from crowdin
  android/app/src/main/res/values-zh-rTW/strings.xml
  assets/l10n/status.json
  lib/l10n/app_de.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

bump build version to 70204
  lib/version.dart
  pubspec.yaml
Due: none

Pull new translations from Crowdin
  android/app/src/main/res/values-zh-rTW/strings.xml
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings

Bump python deps
  helper/poetry.lock
  helper/pyproject.toml
Due: mypy

Partially fix Windows NFC issue
  helper/helper/device.py
  helper/poetry.lock
Due: mypy

Workaround for Windows NFC issue
  helper/helper/device.py
  helper/poetry.lock
  helper/pyproject.toml
Due: mypy

Update NEWS
  NEWS
Due: none

Bump to development version
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Move settings to its own section
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainViewModel.kt
  lib/about_page.dart
  lib/android/app_methods.dart
  lib/android/init.dart
  lib/android/views/settings_views.dart
  lib/app/features.dart
  lib/app/models.dart
  lib/app/shortcuts.dart
  lib/app/state.dart
  lib/app/views/action_list.dart
  lib/app/views/keys.dart
  lib/app/views/main_page.dart
  lib/app/views/navigation.dart
  lib/app/views/settings_page.dart
  lib/home/views/key_actions.dart
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/widgets/list_title.dart
  lib/widgets/responsive_dialog.dart
Due: arb-reformatter, update-android-strings

Skip `flutter test`
  .github/workflows/android.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

Reformat l10n strings
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
Due: arb-reformatter, update-android-strings
