Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

Adjust colors and margins
  lib/home/views/home_screen.dart
Due: none

Remove static color from `NavigationItem` icons
  lib/app/views/navigation.dart
Due: none

update German language file
  android/app/src/main/res/values-de/strings.xml
  lib/l10n/app_de.arb
Due: arb-reformatter, update-android-strings

Bump Python to 3.12.5
  .github/workflows/env
Due: none

Fix fingerprint commands returning None
  helper/helper/fido.py
Due: mypy

PIV: Add supportsBio
  helper/helper/piv.py
  lib/app/models.freezed.dart
  lib/core/models.freezed.dart
  lib/desktop/models.freezed.dart
  lib/fido/models.freezed.dart
  lib/management/models.freezed.dart
  lib/oath/models.freezed.dart
  lib/otp/models.freezed.dart
  lib/piv/models.dart
  lib/piv/models.freezed.dart
  lib/piv/models.g.dart
Due: mypy

Fingerprint page improvements for MPE
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/key_actions.dart
Due: none

PIV: Add MATCH policies
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/utils.dart
Due: arb-reformatter, update-android-strings

Use l10n for Interfaces subtitle
  lib/home/views/key_actions.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Check if device is fips capable before creating an SCP session
  helper/helper/device.py
Due: mypy

Fingerprints: Don't show PIV badge when PIV is disabled
  lib/fido/views/fingerprints_screen.dart
Due: none

Show FIDO EA status in all relevant states
  lib/fido/views/key_actions.dart
Due: none

Fix Manage/Details column placeholder
  lib/app/views/app_page.dart
Due: none

Avoid having both 'Configure YK' and 'Expand sidebar' appear at the same time
  lib/app/views/app_page.dart
Due: none

[OATH] show correct button based on FIPS status
  lib/oath/views/key_actions.dart
  lib/oath/views/oath_screen.dart
  lib/oath/views/utils.dart
Due: none

Ensure consistency in flexible layout buttons
  lib/fido/views/passkeys_screen.dart
  lib/oath/views/oath_screen.dart
Due: none

[OATH] update device info after set password/reset
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: none

[OATH] show action badges
  lib/oath/views/key_actions.dart
  lib/oath/views/oath_screen.dart
Due: none

Remove unnecessary parentheses
  lib/app/views/app_page.dart
Due: none

CTAP: Handle broken HID connection
  helper/helper/device.py
Due: mypy

[Android] support devices with NFC restrictions
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/device/UnknownDevice.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/DeviceInfoHelper.kt
  lib/android/state.dart
  lib/app/views/device_error_screen.dart
  lib/app/views/main_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

use correct resource type
  lib/app/views/device_error_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Add explanatory text to FIDO EA
  lib/fido/views/enterprise_attestation_dialog.dart
  lib/fido/views/key_actions.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

Remove the word "first" from sentences
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

Bump Flutter and dependencies
  .github/workflows/env
  pubspec.lock
Due: none

Add description for Bio key import
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/views/import_file_dialog.dart
Due: arb-reformatter, update-android-strings

PIV bio additions
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/piv/keys.dart
  lib/piv/views/cert_info_view.dart
  lib/piv/views/generate_key_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/piv_screen.dart
  lib/piv/views/slot_dialog.dart
Due: arb-reformatter, update-android-strings

Don't show bio status for PinPolicy.never
  lib/piv/views/cert_info_view.dart
Due: none

change method name
  lib/oath/views/key_actions.dart
  lib/oath/views/oath_screen.dart
  lib/oath/views/utils.dart
Due: none

Show progress indicator during application and global reset
  lib/app/views/reset_dialog.dart
Due: none

Allow ECC P-384 only on supported FW
  lib/piv/views/utils.dart
Due: none

Disable cancel on reset
  lib/app/views/reset_dialog.dart
Due: none

Style NFC Restricted page
  lib/app/views/device_error_screen.dart
  lib/app/views/device_picker.dart
  lib/app/views/message_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
Due: arb-reformatter, update-android-strings

fix method location
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
Due: none

Copy OATH credential to clipboard on code click
  lib/oath/views/account_view.dart
Due: none

Add `longPressIntent` to `AppListItem`
  lib/app/views/app_list_item.dart
  lib/oath/views/account_view.dart
Due: none

Ensure consistent intents across applications
  lib/app/views/app_list_item.dart
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/passkeys_screen.dart
  lib/otp/views/otp_screen.dart
  lib/piv/views/piv_screen.dart
Due: none

Fix `mouseCursor` for OATH credentials in grid view
  lib/oath/views/account_view.dart
Due: none

Desktop: Improve DeviceInfo caching
  helper/helper/device.py
  helper/helper/piv.py
Due: mypy

Create app_vi.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings
