Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      require_serial: true
    - id: flutter-analyze
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: python3 --version && python3.12 --version && update_android_strings.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
    - id: bandit
      files: helper/  # keep in sync with .bandit file

use correct context/section for AddToAny
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  lib/android/oath/state.dart
  lib/app/views/main_page.dart
Due: none

improve comparison to handle exception states
  lib/app/views/main_page.dart
Due: none

don't swallow context disposed exceptions
  lib/exception/platform_exception_decoder.dart
Due: none

fix copyright year in changed files
  android/app/src/main/kotlin/com/yubico/authenticator/NfcOverlayManager.kt
  lib/android/window_state_provider.dart
  lib/oath/views/add_account_page.dart
  lib/oath/views/rename_account_dialog.dart
Due: none

Fix minor helper issues
  helper/helper/base.py
  helper/helper/device.py
Due: mypy

Only refresh OATH while page is active
  lib/desktop/oath/state.dart
Due: none

Helper: Don't return closed child
  helper/helper/base.py
Due: mypy

CTAP: Handle expired PIN token
  helper/helper/fido.py
Due: mypy

Default to home when section is not enabled
  lib/app/views/main_page.dart
  lib/desktop/state.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Remove broken caching, refresh OATH state on capability change
  helper/helper/base.py
  helper/helper/device.py
  lib/desktop/oath/state.dart
Due: mypy

catch exceptions during initial NFC connections
  android/app/src/main/kotlin/com/yubico/authenticator/AppContextManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoConnectionHelper.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/fido/data/Session.kt
  android/app/src/main/kotlin/com/yubico/authenticator/oath/OathManager.kt
  android/app/src/main/kotlin/com/yubico/authenticator/yubikit/DeviceInfoHelper.kt
  lib/android/fido/state.dart
  lib/app/views/main_page.dart
  lib/fido/views/delete_credential_dialog.dart
  lib/oath/views/manage_password_dialog.dart
  lib/oath/views/rename_account_dialog.dart
Due: none

review fixes
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
  lib/fido/views/delete_credential_dialog.dart
Due: none

refactor exception handling in rename dialog
  lib/oath/views/rename_account_dialog.dart
Due: none

don't show progress widgets when using NFC
  lib/app/views/reset_dialog.dart
Due: none

Refactor DeviceInfo caching
  helper/helper/device.py
Due: mypy

Helper: More DeviceInfo improvements
  helper/helper/device.py
Due: mypy

Helper: Improve connection switching when toggling interfaces
  helper/helper/device.py
  helper/helper/fido.py
  helper/helper/management.py
Due: mypy

fix code style
  lib/app/views/reset_dialog.dart
Due: none

Simplify condition
  lib/app/views/reset_dialog.dart
Due: none

Only use NFC if available
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none

Improve AddToAny when NFC not available
  lib/android/oath/state.dart
  lib/android/overlay/nfc/nfc_overlay.dart
  lib/android/overlay/nfc/views/nfc_overlay_icons.dart
Due: none

changed from deprecated ubuntu 20.04 image to existing arm provided ubuntu 22.04 image
  .github/workflows/linux-arm64.yml
Due: none

adding distutils
  .github/workflows/linux-arm64.yml
Due: none

checking path variables
  .github/workflows/linux-arm64.yml
Due: none

checking sudo
  .github/workflows/linux-arm64.yml
Due: none

defining python3 for all commands
  .github/workflows/linux-arm64.yml
Due: none

updatign pip
  .github/workflows/linux-arm64.yml
Due: none

fixating python version
  .github/workflows/linux-arm64.yml
Due: none

Update NEWS
  NEWS
Due: none

Bump version
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Refactor action signatures and add more types
  helper/helper/__init__.py
  helper/helper/base.py
  helper/helper/device.py
  helper/helper/fido.py
  helper/helper/management.py
  helper/helper/oath.py
  helper/helper/piv.py
  helper/helper/yubiotp.py
  helper/poetry.lock
  helper/pyproject.toml
Due: mypy

Bump Python version
  .github/workflows/env
Due: none

More match-statements
  helper/helper/__init__.py
  helper/helper/yubiotp.py
Due: mypy

Automatically deserialize bytes in actions
  helper/helper/base.py
  helper/helper/management.py
  helper/helper/oath.py
  helper/helper/piv.py
  helper/helper/yubiotp.py
Due: mypy

checking path, fixating path
  .github/workflows/linux-arm64.yml
Due: none

testing new path
  .github/workflows/linux-arm64.yml
Due: none
