Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, mypy

arb-reformatter:
  name: reformat-strings
  language: script
  entry: arb_reformatter.py
  require_serial: true

update-android-strings:
  name: update-android-strings
  language: script
  entry: python3 --version && python3.12 --version && update_android_strings.py
  require_serial: true

mypy:
  name: mypy
  language: script
  entry: run-mypy.sh
  require_serial: true

Disable PIV actions on PIN blocked
  lib/app/views/action_list.dart
  lib/fido/views/pin_entry_form.dart
  lib/piv/views/actions.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: none

Use "readers" instead of "devices" when referring to PC/SC readers
  lib/app/views/device_picker.dart
  lib/app/views/main_page.dart
  lib/app/views/settings_page.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Ensure `onSubmitted` actions are handled correctly
  lib/management/views/management_screen.dart
  lib/oath/views/rename_account_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/access_code_dialog.dart
  lib/piv/views/import_file_dialog.dart
Due: none

Use selected APP_LOCALE in native code
  android/app/src/main/kotlin/com/yubico/authenticator/AppPreferences.kt
  android/app/src/main/kotlin/com/yubico/authenticator/NdefActivity.kt
Due: none

add support for HIDE_OVERLAY_WINDOWS
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none

enable predictive back gesture
  android/app/src/main/AndroidManifest.xml
Due: none

fix rendering of serial numbers
  android/app/src/main/kotlin/com/yubico/authenticator/device/Info.kt
  android/app/src/test/java/com/yubico/authenticator/device/InfoTest.kt
Due: none

increase NFC timeout to support long taking ops
  android/app/src/main/kotlin/com/yubico/authenticator/MainActivity.kt
Due: none

improve reset over NFC on Android
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
  lib/android/fido/state.dart
  lib/android/oath/state.dart
  lib/app/views/reset_dialog.dart
Due: none

update license year
  android/app/src/main/kotlin/com/yubico/authenticator/fido/FidoResetHelper.kt
Due: none

flutter 3.27.4
  .github/workflows/env
Due: none

bump Android deps
  android/app/build.gradle
  android/flutter_plugins/qrscanner_zxing/android/build.gradle
  android/settings.gradle
Due: none

bump MacOS deps
  macos/Flutter/GeneratedPluginRegistrant.swift
  macos/Podfile.lock
Due: none

bump flutter deps
  pubspec.lock
  pubspec.yaml
Due: none

update window_manager and screen_retriever
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  macos/Podfile.lock
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Due: none

Enable ICU Message Syntax on a few strings for pluralization support
  lib/l10n/app_en.arb
Due: arb-reformatter, update-android-strings

generate before running tests in CI
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

workflow fixes
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
Due: none

unify CI verification step
  .github/workflows/android.yml
Due: none

order of pre-commit hooks
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
Due: none

use com.yubico.yubioath
  linux/CMakeLists.txt
  resources/com.yubico.yubioath.appdata.xml
  resources/linux/README.adoc
  resources/linux/desktop_integration.sh
  resources/linux/linux_support/com.yubico.yubioath.desktop
Due: none

fix issues and add placeholder types
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

revert name change of linux binary
  linux/CMakeLists.txt
  resources/linux/README.adoc
  resources/linux/linux_support/com.yubico.yubioath.desktop
Due: none

Add info banners in PIV
  lib/app/state.dart
  lib/app/views/main_page.dart
  lib/app/views/reset_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/piv/keys.dart
  lib/piv/views/key_actions.dart
  lib/piv/views/piv_screen.dart
Due: arb-reformatter, update-android-strings

Fix CodeQL GitHub action
  .github/workflows/codeql-analysis.yml
Due: none

Ensure `onSubmitted` actions are handled correctly
  lib/management/views/management_screen.dart
  lib/oath/views/rename_account_dialog.dart
  lib/oath/views/unlock_form.dart
  lib/otp/views/access_code_dialog.dart
  lib/piv/views/import_file_dialog.dart
  lib/piv/views/pin_dialog.dart
Due: none

Ensure consistent handling of `onSubmitted` actions
  lib/oath/views/add_account_page.dart
  lib/oath/views/manage_password_dialog.dart
  lib/otp/views/configure_chalresp_dialog.dart
  lib/otp/views/configure_hotp_dialog.dart
  lib/otp/views/configure_static_dialog.dart
  lib/otp/views/configure_yubiotp_dialog.dart
  lib/piv/views/authentication_dialog.dart
  lib/piv/views/manage_key_dialog.dart
  lib/piv/views/manage_pin_puk_dialog.dart
Due: none

Add info banners in FIDO
  lib/fido/views/fingerprints_screen.dart
  lib/fido/views/passkeys_screen.dart
  lib/fido/views/pin_entry_form.dart
Due: none

Increase margin between banner and remaining content
  lib/app/views/reset_dialog.dart
  lib/fido/views/pin_entry_form.dart
  lib/piv/views/piv_screen.dart
Due: none

Add logging panel
  lib/about_page.dart
  lib/android/init.dart
  lib/android/keys.dart
  lib/android/views/settings_views.dart
  lib/app/app.dart
  lib/app/logging.dart
  lib/app/views/app_page.dart
  lib/app/views/keys.dart
  lib/app/views/settings_page.dart
  lib/desktop/init.dart
  lib/home/views/home_message_page.dart
  lib/home/views/home_screen.dart
  lib/home/views/key_actions.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_vi.arb
  lib/widgets/toast.dart
Due: arb-reformatter, update-android-strings

Only check hasValue/isLoading for Android
  lib/app/views/main_page.dart
Due: none

Add panel background to unsafe area
  lib/app/logging.dart
  lib/app/views/app_page.dart
  lib/widgets/toast.dart
Due: none

Connect banners to YK serial
  lib/app/state.dart
  lib/app/views/reset_dialog.dart
  lib/l10n/app_en.arb
  lib/piv/views/piv_screen.dart
Due: arb-reformatter, update-android-strings

Only refresh OATH while page is active
  lib/desktop/oath/state.dart
Due: none

Bump version to 7.1.0
  helper/version_info.txt
  lib/version.dart
  pubspec.yaml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: mypy

Update l10n from Crowdin
  android/app/src/main/res/values-pl/strings.xml
  lib/l10n/app_de.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_vi.arb
Due: arb-reformatter, update-android-strings

Fix minor helper issues
  helper/helper/base.py
  helper/helper/device.py
Due: mypy

Path conditions:
  arb-reformatter: any of: \.arb$
  update-android-strings: any of: \.arb$
  mypy: any of: helper/
