Repository Yubico/yubioath-flutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: arb-reformatter, update-android-strings, spotless-apply, mypy

.pre-commit-config.yaml:

repos:
# Flutter
- repo: local
  hooks:
    - id: flutter-l10n-gen
      name: generate-l10n
      language: system
      entry: flutter gen-l10n
      pass_filenames: false
      require_serial: true
- repo: https://github.com/dluksza/flutter-analyze-pre-commit
  rev: "4afcaa82fc368d40d486256bf4edba329bf667bb"
  hooks:
    - id: dart-format
      files: \.dart$
      exclude: lib/generated
      require_serial: true
    - id: flutter-analyze
      exclude: lib/generated
      require_serial: true
- repo: local
  hooks:
    - id: arb-reformatter
      name: reformat-strings
      files: \.arb$
      language: script
      entry: arb_reformatter.py
      require_serial: true
    - id: update-android-strings
      name: update-android-strings
      files: \.arb$
      language: script
      entry: update_android_strings.py
      require_serial: true
    - id: spotless-apply
      name: spotless-apply
      files: \.kt$
      language: script
      entry: spotless_apply.py
      require_serial: true

# Python
- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: helper/
      language: script
      entry: run-mypy.sh
      require_serial: true
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.0
  hooks:
    # Run the linter, organize imports
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter
    - id: ruff-format

Bump pins
  .github/workflows/flutter-checks.yml
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows-arm64.yml
  .github/workflows/windows.yml
Due: none

Share MSI service ownership and isolate the MSIX service
  .github/workflows/flutter-checks.yml
  .github/workflows/linux-arm64.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows-arm64.yml
  .github/workflows/windows.yml
  resources/win/README.md
  resources/win/msix/AppxManifest.xml
  resources/win/release-win.ps1
  resources/win/yubioath-desktop.wxs
Due: none

Fix PIV PIN attempts reporting on older keys
  helper/crates/helper/src/piv.rs
Due: mypy

Add SDK feedback for the .NET team and tighten SDK findings
  helper-dotnet/docs/evaluation.md
  helper-dotnet/docs/sdk-feedback.md
Due: none

Fix Passkeys PIN retry state and invalid-input recovery
  helper/crates/helper/src/fido.rs
  lib/fido/validation.dart
  lib/fido/views/pin_confirmation_dialog.dart
  lib/fido/views/pin_dialog.dart
  lib/fido/views/pin_entry_form.dart
  test/fido/pin_entry_test.dart
  test/fido/pin_validation_test.dart
Due: mypy

Enable NFC devices with ykman-svc
  helper/crates/helper/src/devices.rs
  test/desktop/devices_test.dart
Due: mypy

Simplify empty device navigation styling
  lib/app/views/device_avatar.dart
  lib/app/views/device_picker.dart
  test/app/views/device_picker_test.dart
Due: none

Remove reader hiding controls and state
  lib/app/state.dart
  lib/app/views/device_avatar.dart
  lib/app/views/device_picker.dart
  lib/app/views/keys.dart
  lib/app/views/settings_page.dart
  lib/desktop/state.dart
  lib/l10n/app_bg.arb
  lib/l10n/app_cs.arb
  lib/l10n/app_de.arb
  lib/l10n/app_el.arb
  lib/l10n/app_en.arb
  lib/l10n/app_es.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_he.arb
  lib/l10n/app_hu.arb
  lib/l10n/app_it.arb
  lib/l10n/app_ja.arb
  lib/l10n/app_nl.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_pt.arb
  lib/l10n/app_ru.arb
  lib/l10n/app_sk.arb
  lib/l10n/app_sv.arb
  lib/l10n/app_th.arb
  lib/l10n/app_tr.arb
  lib/l10n/app_uk.arb
  lib/l10n/app_vi.arb
  lib/l10n/app_zh.arb
  lib/l10n/app_zh_TW.arb
  test/app/views/device_picker_test.dart
Due: arb-reformatter, update-android-strings

Replace no-key image with Material security key icons
  assets/graphics/no-key.png
  lib/app/views/device_error_screen.dart
  lib/app/views/main_page.dart
  lib/app/views/message_page_not_initialized.dart
  test/app/views/device_picker_test.dart
Due: none

Fix FIDO child connection handoff
  helper/crates/helper/src/fido.rs
Due: mypy

Try different screenshot tools
  helper/helper/qr.py
  resources/linux/README.adoc
Due: mypy

Change order of running screenshot tools
  helper/helper/qr.py
Due: mypy
